.breadcrumbs {
    position: relative;
    display: block;
    font-size: 0;
    padding: 15px 0;
    border-bottom: 1px solid $colorGrayHover;

    .item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 12px;
        color: $colorGray;
        text-decoration: none;

        .icon {
            position: relative;
            display: inline-block;
            vertical-align: initial;
            font-size: 8px;
            margin-left: 5px;
        }

        &.active {
            color: $colorText;
        }
    }
}