.experts {
    .experts-slider {
        @include desktop {
            margin: 0;
            padding: 0;
        }

        .swiper-slider {
            @include desktop {
                overflow: visible;
            }

            @include mobile {
                margin-left: -10px;
                margin-right: -10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .swiper-slide {
            @include desktop {
                opacity: 0;
                transform: scale(0.75);
                transition: opacity 0.2s ease, transform 0.4s ease;
            }

            &-visible {
                @include desktop {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        .swiper-pagination {
            width: 100%;
            @include desktop {
                display: none;
            }

            .swiper-pagination-bullet {
                background: $colorGray;

                &.swiper-pagination-bullet-active {
                    background: $colorMain;
                }
            }
        }
    }

    .expert-card {
        display: block;
        
        padding: 17px 20px 20px;

        outline: none;
        text-decoration: none;

        color: $colorText;
        background: #ffffff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);

        @include mobile {
            margin: 10px 0;
        }
        @include tablet {
            margin: 5px 0;
        }
        @include desktop {
            margin: 10px 0;
        }
        .head {
            position: relative;                     
            height: 114px;            
                          
            .expert-img {             
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -45px;                
                
                width: 90px;
                height: 90px;

                border-radius: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;                
            }
        }
        .name {            
            padding-top: 20px;
            padding-left: 110px;
            margin-bottom: 10px; 
            
            max-height: 60px;

            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 120%;

            overflow: hidden;
        }
    
        .post {  
            padding-bottom: 20px;
            padding-left: 110px;
            margin-top: 10px;

            max-height: 45px;
            
            font-size: 12px;
            color: $colorGray;    
            line-height: 180%;

            overflow: hidden;
        }
    
        .desc {
            height: 140px;
    
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 179.19%;
    
            overflow: hidden;
            @include mobile {
                height: auto;
            }
            @include tablet {
                height: 140px;
            }
        }
    
        .desc-small {
            height: 70px;
    
            overflow: hidden;
            @include mobile {
                height: auto;
            }
            @include tablet {
                height: 70px;
            }
        }
    
        .link {    
            position: relative;
    
            margin-top: 20px;        
            font-size: 16px;
            color: $colorMain;
    
            .icon {
                position: absolute;
                display: block;
                left: 123px;
                bottom: 1px;
            }

            &:hover {
                color: $colorMainHover;
            }
        }    
    } 
}
