.loan-types {
    .item {
        background-color: $colorWhite;
        border-radius: 3px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        margin: 10px 0;
        padding: 15px;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;

        .image {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            height: 50px;
            margin: 0;

            .icon {
                font-size: 30px;

                &:before {
                    line-height: 50px;
                    color: $colorGray;
                }
            }
        }

        .number {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid #c2c2c2;
            background-color: #fff;
            color: #7e7e7e;
            border-radius: 50%;
            top: -15px;
            left: 25px;
            font-size: 14px;
            text-align: center;
            line-height: 30px;

            &.final{
                background-color: $colorMain;
                border-color: $colorMain;
                color:$colorWhite;
            }
        }

        &-big {
            height: 120px;
            white-space: normal;
            position: relative;
            overflow: visible;

            @include mobile{
                margin: 20px 0;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            .image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                .icon {
                    font-size: 50px;

                    &:before {
                        color: $colorMain;
                    }
                }
            }

            .info {
                padding-left: 60px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .info {
            vertical-align: middle;
            display: inline-block;
            margin-left: 10px;
        }
    }
}