// блок на главной
.mobapp-index {
    display: block;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .info {
        margin: 0;
        max-width: 400px;
        height: 422px;
        @include only-mobile {
            display: block;
            position: relative;
            padding: 10px 0;
            height: 300px;
            //max-width: 100%;

            .table-block {
                display: block;

                .cell {
                    display: block;
                }
            }
        }

        a {
            text-decoration: none;
            transition: all .2s ease;
            @include desktop {
                &:hover {
                    opacity: .8;
                }
            }
        }

        .button-block {
            margin: 45px 0 0 0;
            width: 320px;
            @include only-mobile {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 10px;
                margin: 0;
                width: auto;
            }
        }

        .app-link {
            display: block;
            margin: 0;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;

            &:before {
                content: "";
                display: block;
                float: left;
                padding-top: 29.6%;
            }

            &.appstore {
                background-image: url('../../img/button-appstore-white.svg');
            }
            &.googleplay {
                background-image: url('../../img/button-googleplay-white.svg');
            }
        }
    }
}
// END блок на главной