@import './components/vars.scss';
@import './components/icons.scss';
@import './components/normalize.scss';
@import './components/helper.scss';
@import './components/grid.scss';
@import './components/forms.scss';
@import './components/buttons.scss';
@import './components/typographic.scss';

.body {
    min-height: 100%;
    height: auto !important;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.container {
    margin: 0 auto;
    padding: 1px 10px;
    max-width: 980px;

    &.fullscreen {
        max-width: 100%;
    }
}

@import './components/header.scss';
@import './components/menu.scss';

// слайдер на главной
.main-slider {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;

    .slider {
        display: block;
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .slide {
        position: relative;
        z-index: 3;
        margin: 0;
        height: 660px;
        background: $colorBg;
        text-decoration: none;
        outline: none;

        .img {
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0; right: 0;
                bottom: 0;
                height: 50%;
                background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 100%);
            }
        }

        .text {
            display: block;
            position: absolute;
            left: 50%; bottom: 60px;
            margin: 0 0 0 -490px;
            width: 600px;
        }

        p {
            margin: 4px 0;
            font-size: 34px;
            line-height: 40px;
            color: $colorWhite;
            font-weight: 500;
            text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.55);

            &.big {
                font-size: 56px;
                line-height: 66px;
                font-weight: 900;
            }

            &.small {
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
            }
        }
    }

    .swiper {
        &-pagination {
            display: block;
            position: absolute;
            z-index: 10;
            left: 50%; bottom: 22px;
            margin: 0 0 0 -490px;
            width: 980px;
            text-align: left;
        }

        &-arrow {
            z-index: 10;
            width: 100px;

            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }

            .icon {
                color: $colorWhite;
            }
        }
    }

    &-info {
        display: block;
        position: absolute;
        z-index: 10;
        left: 50%; top: 50%;
        margin: -261px 0 0 185px;
        padding: 50px 0 0 0;
        width: 315px; height: 522px;

        .button-block {
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0;
        }

        
    }
}

@media (max-width: 1000px) {
    .main-slider {
        .slide {
            height: auto;
            overflow: hidden;

            .img {
                background-position: 0 center;
                &:before {
                    height: 75%;
                }
            }

            &:before {
                content: "";
                display: block;
                float: left;
                padding-top: 56%;
            }

            .text {
                left: 0;
                bottom: 13px;
                margin-left: 0;
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                max-width: 400px;
            }

            p {
                font-size: 18px;
                line-height: 21px;
    
                &.big {
                    font-size: 30px;
                    line-height: 35px;
                }
    
                &.small {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        .swiper {
            &-pagination {
                position: relative;
                left: auto; bottom: auto;
                margin-left: 0;
                margin-top: 16px;
                width: 100%;
                text-align: center;

                &-bullet {
                    background: #000;
                    opacity: .2;

                    &-active {
                        background: $colorMain;
                        opacity: 1;
                    }
                }
            }
        }

        &-info {
            position: relative;
            z-index: 10;
            left: auto; top: auto;
            margin: 0 15px;
            padding-top: 0;
            width: auto; height: auto;
    
            .button-block {
                display: block;
                position: relative;
                left: auto; right: auto;
                top: auto;
                margin-top: 20px;
            }
        }
    }
}
// END слайдер на главной


// swiper style
.swiper {
    &-pagination {
        &-bullet {
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;
            width: 8px; height: 8px;
            background: $colorWhite;
            border-radius: 50%;
            opacity: .2;
            transition: all .2s ease;
    
            &-active {
                opacity: 1;
                background: $colorMain;
            }
        }
    }
    
    &-arrow {
        display: block;
        position: absolute;
        z-index: 10;
        top: 0; bottom: 0;
        width: 60px;
        cursor: pointer;
    
        &-prev {
            left: -60px;
        }
        &-next {
            right: -60px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            margin: -10px 0 0 -10px;
            width: 20px; height: 20px;
            font-size: 20px;
            color: $colorGray;
            transition: color .2s ease;
        }

        &:hover {
            .icon {
                color: $colorMain;
            }
        }
    }
}

@media (max-width: 1000px) {
    .swiper {
        &-arrow {
            display: none;
        }
    }
}
// END swiper-style


// Калькулятор
.calculator {
    display: block;
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 1px 20px 0 20px;
    background: $colorWhite;
    border-radius: 3px;
    overflow: hidden;

    &:before {
        content: "";
        display: none;
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/load.gif') center center no-repeat;
    }

    &.load {
        * {
            visibility: hidden;
        }

        &:before {
            display: block;
            visibility: visible;
        }
    }

    &-item {
        display: block;
        margin: 35px 0;
        padding: 1px 0;

        &.result {
            margin: 25px -20px 0 -20px;
            padding: 1px 20px;
            background: $colorBg;

            .calculator-row {
                margin-top: 17px;
                margin-bottom: 17px;
            }
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 300;
            color: $colorText;

            &.big {
                font-size: 24px;
                line-height: 28px;
                font-weight: 400;
            }

            &.medium-label {
                line-height: 20px;
            }

            &.big-label {
                line-height: 28px;
            }

            &.medium {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
            }

            &.small {
                font-size: 12px;
                line-height: 1.2em;
            }

        }
    }

    &-row {
        display: block;
        margin: 10px 0;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }

        .left {
            display: block;
            float: left;
            margin: 0;
            text-align: left;
        }
        .right {
            display: block;
            float: right;
            margin: 0;
            text-align: right;
        }
    }

    &-slider {
        display: block;
        margin: 0;
        padding: 7px 0 0 0;
        height: 20px;
    }

    
}

@media (max-width: 1000px) {
    .calculator {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;

        &-item {
            margin-top: 20px;
            margin-bottom: 20px;

            &.result {
                margin-top: 20px;
                margin-left: 0;
                margin-right: 0;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

// END Калькулятор



// jquery ui slider range
.ui-slider {
    display: block;
    position: relative;
    margin: 0;
    text-align: left;
    border-radius: 6px;

    &-handle {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        cursor: pointer;
        -ms-touch-action: none;
        touch-action: none;
        background: $colorMain;
        padding: 0 !important;
        outline: none;
        box-sizing: border-box;
        border-radius: 5px;

        &.ui-state-hover {
            background: $colorMainHover;
        }

        &.ui-state-active {
            background: $colorMainHover;
        }
    }

    &-range {
        display: block;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        background: $colorBg;
    }

    &.ui-state-disabled {
        .ui-slider-handle {
            filter: inherit;
        }

        .ui-slider-range {
            filter: inherit;
        }
    }

    &-horizontal {
        height: 2px;
        background: $colorBg;
    
        .ui-slider-handle {
            top: -9px;
            margin-left: -9px;
        }
    
        .ui-slider-range {
            top: 0;
            height: 100%;
        }
    
        .ui-slider-range-min {
            left: 1px;
        }
    
        .ui-slider-range-max {
            right: 1px;
        }
    }
}



// END jquery ui slider range

// jquery ui datepicker
#ui-datepicker-div {
	z-index: 110 !important;
}
.ui-datepicker {
	display: none;
	width: 280px;
    padding: .2em .2em 0;
    background: $colorWhite;
    border: 1px solid $colorMain !important;
    
    &-header {
        position: relative;
        padding: .2em 0;
    }

    &-prev,
    &-next {
        display: block;
        position: absolute;
        top: 6px;
        width: 16px;
        height: 16px;
        color: $colorMain;

        &:before {
            display: block;
            position: absolute;
            left: 50%; top: 50%;
            margin: -6px 0 0 -6px;
            font-size: 12px;
        }
    }
    &-prev {
        left: 2px;
    }
    &-next {
        right: 2px;
    }

    &-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        font-size: 16px;
        text-align: center;
        color: $colorText;
    }

    table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
        color: $colorText;
        font-size: 14px;
    }

    td {
        border: 0;
        padding: 1px;

        span, a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
            border: 1px solid $colorMain;
            font-size: 14px;
            font-weight: 400;
            color: $colorText;

            &:hover {
                background: $colorMain;
                color: $colorWhite;
            }
        }
    }

    .ui-state-active {
        background: $colorMain;
        color: #fff;
    }
    .ui-state-disabled {
        opacity: .2;
        cursor: default;
    }
}
// END jquery ui datepicker




// Вопросы и ответы
.question-list {
    display: block;
    margin: 20px 0;
    padding: 1px 0;

    .group {
        display: block;
        margin: 30px 0 0 0;
        padding: 1px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .question {
        position: relative;
        z-index: 3;
        margin: 0 0 0 1px;
        padding: 0;
        border-top: 1px dotted $colorBorder;

        &.active {
            .arrow {
                transform: rotate(-180deg);
            }
            .answer {
                display: block;
            }
        }        
    }

    .question-title {
        position: relative;
        margin: 0;
        padding: 15px 90px 15px 0;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorText;

        &:hover {
            opacity: .8;
        }
    }

    .arrow {
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        margin: -6px 0 0 0;
        font-size: 12px;
        color: $colorGray;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        color: $colorText;

        &.theme {
            color: $colorMain;
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
        }
    }

    
}                
// END Вопросы и ответы


// Акции и конкурсы
.promo-item {
    display: block;
    margin: 20px 0;
    padding: 1px 0;
    text-decoration: none;
    transition: opacity .2s ease;

    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 300;

        &.name {
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
            color: $colorMain;
            text-transform: uppercase;
        }
    }

    &:hover {
        opacity: .8;
    }
}
// END Акции и конкурсы





// Footer
.footer-margin {
    height: 100px;
}
.footer {
    display: block;
    position: relative;
    z-index: 100;
    margin: -100px 0 0 0;
    height: 100px;
    background: $colorMain;
}
// end Footer