// переменные
$fontBase: 'Roboto', sans-serif;
$fontAccent: 'Roboto', sans-serif;
$colorMain: #7dc041;
$colorMainHover: #82C943;
$colorMain2: #005498;
$colorMain2Hover : #024e8b;
$colorMain3: #ffcd2b;
$colorMain3Hover: #FFD54F;
$colorBg: #efefef;
$colorBgHover: #e4e4e4;
$colorText: #333333;
$colorGray: #7e7e7e;    
$colorBorder: #efefef;
$colorError: #e94551;
$colorWhite: #ffffff;
$colorLink: #7dc041;

@import './components/icons.scss';
@import './components/normalize.scss';
@import './components/helper.scss';
@import './components/grid.scss';
@import './components/forms.scss';
@import './components/buttons.scss';
@import './components/typographic.scss';

.body {
    min-height: 100%;
    height: auto !important;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.container {
    margin: 0 auto;
    padding: 1px 10px;
    max-width: 980px;

    &.fullscreen {
        max-width: 100%;
    }
}


// стили проекта

// HEADER
.header {
    display: block;
    position: fixed;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background: $colorWhite;
    border-bottom: 1px solid $colorBorder;

    &-margin {
        height: 100px;
    }

    &-left {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }

    &-right {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 0;
        white-space: nowrap;
    }

    &-col {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0 20px;
        height: 100px;
        border-left: 1px solid $colorBorder;

        &:first-child,
        &.no-border {
            border-left: none;
        }
    }

    &-info {
        padding-left: 0;
        max-width: 170px;
    }

    .logo {
        display: block;
        width: 70px;
        height: 70px;
        background: url('../img/logo.svg') center center no-repeat;
        background-size: cover;
    }

    p {
        margin: 3px 0;
        font-size: 15px;
        line-height: 1.2em;
        font-weight: 300;
        color: $colorText;

        &.title {
            font-size: 22px;
            line-height: 1.2em;
        }

        &.remark {
            font-size: 12px;
            line-height: 1.2em;
            color: $colorGray;
            font-weight: 400;
        }
    }

    .container {
        position: relative;
        height: 100%;
    }
}

.height-small {
    .header {
        height: 60px;

        &-margin {
            height: 60px;
        }

        &-col {
            height: 60px;
            padding-left: 10px;
            padding-right: 10px;
            border-left: none;
        }

        &-info {
            padding-left: 0;
            max-width: 120px;
        }

        .logo {
            width: 50px;
            height: 50px;
        }

        p {
            font-size: 13px;
            line-height: 1.2em;

            &.title {
                font-size: 15px;
                line-height: 1em;
            }

            &.remark {
                font-size: 11px;
                line-height: 1.2em;
            }
        }
    }
}

@media (max-width: 1000px) {
    .header {
        height: 55px;

        &-margin {
            height: 55px;
        }

        &-col {
            height: 55px;
            padding-left: 10px;
            padding-right: 10px;
            border-left: none;
        }

        &-info {
            padding-left: 0;
            max-width: 120px;
        }

        .logo {
            width: 40px;
            height: 40px;
        }

        p {
            font-size: 13px;
            line-height: 1.2em;

            &.title {
                font-size: 12px;
                line-height: 1em;
            }

            &.remark {
                font-size: 8px;
                line-height: 1.2em;
            }
        }
    }
}

// END HEADER


// Главное меню
.main-menu {
    display: block;
    position: fixed;
    z-index: 800;
    left: 0; top: 100px;
    margin: 0;
    width: 100%;
    background: #7dc041;

    &-margin {
        margin: 0;
        height: 40px;
    }

    &-content {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 40px;

        & > li {
            display: block;
            position: relative;
            z-index: 300;
            float: left;
            margin: 0;
            padding: 0 13px;

            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }

            &.burger {
                padding-left: 0;
                padding-right: 0;
                float: right;
                position: static;
                width: 40px; height: 40px;

                
            }

            &:hover {
                .submenu {
                    top: 100%;
                    opacity: 1;
                }
            }

            .icon {
                display: block;
                position: relative;
                top: 5px;
                height: 40px;
                font-size: 26px;
                color: $colorWhite;
            }
        }
    }

    .menu-link {
        display: block;
        height: 40px;
        font-size: 12px;
        line-height: 40px;
        font-weight: 500;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        outline: none;
        transition: color .2s ease;
    }

    .submenu {
        display: block;
        position: absolute;
        top: -10000px;
        left: 0;
        margin: 0;
        padding: 30px;
        background: #fff;
        text-align: left;
        opacity: 0;
        box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
        transition: opacity .3s ease, transform .3s ease;

        &.right {
            left: auto;
            right: 0;
        }
        &.fullwidth {
            left: 0; right: 0;
            padding-left: 0; padding-right: 0;

            .submenu-link {
                white-space: normal;
            }
        }

        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;
                margin: 15px 0 0 0;
                padding: 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &-link {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            font-size: 15px;
            line-height: 1em;
            color: $colorGray;
            text-decoration: none;
            white-space: nowrap;

            &.big {
                font-size: 18px;
                line-height: 1em;
                font-weight: 500;
                color: $colorText;
            }

            &:hover {
                color: $colorMain;
            }
        }
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.height-small {
    .main-menu {
        top: 60px;
    }
}

@media (max-width: 1000px) {
    .main-menu {
        display: none;

        &-margin {
            display: none;
        }
    }
}

// END Главное меню



// слайдер на главной
.main-slider {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;

    .slider {
        display: block;
        position: relative;
        z-index: 3;
        height: 660px;
        overflow: hidden;
    }

    .slide {
        position: relative;
        z-index: 3;
        margin: 0;
        height: 100%;
        background: $colorBg;

        .img {
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .text {
            display: block;
            position: absolute;
            left: 50%; bottom: 60px;
            margin: 0 0 0 -490px;
            width: 490px;
        }
    }

    .swiper-pagination {
        display: block;
        position: absolute;
        left: 50%; bottom: 22px;
        margin: 0 0 0 -490px;
        width: 980px;
    }
}



// Калькулятор
.calculator {
    display: block;
    position: relative;
    z-index: 5;
    max-width: 470px;
    margin: 20px auto;
    padding: 1px 0;

    &:before {
        content: "";
        display: none;
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .8) url('../img/load.gif') center center no-repeat;
    }

    .item {
        display: block;
        margin: 40px 0 0 0;

        &:first-child {
            margin-top: 0;
        }

        .label {
            margin: 0;
            font-size: 20px;
            line-height: 34px;
            color: $colorText;
        }

        input {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            padding: 0;
            width: 100px;
            height: 34px;
            font-family: $fontBase;
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 500;
            color: $colorText;
            text-align: center;
            border: 2px solid $colorBorder;
            border-radius: 3px;

            &.period-input {
                width: 60px;
                text-align: center;
            }
        }
    }

    .info {
        display: block;
        margin: 40px 0 0 0;
        font-size: 0;
        text-align: left;

        .col {
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            padding: 0 15px;
            max-width: 37%;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                margin: -20px 0 0 0;
                width: 1px;
                height: 40px;
                background: $colorBg;
            }

            &:first-child {
                padding-left: 0;

                &:before {
                    display: none;
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }

        p {
            margin: 0;
            font-size: 12px;
            line-height: 1.2em;
            color: $colorGray;

            &.value {
                margin-top: 5px;
                font-size: 16px;
                line-height: 1.2em;
                font-weight: 400;
                color: $colorText;
            }

            .new {
                color: $colorMain;
                font-size: 16px;
                font-weight: 500;
            }

            .old {
                padding-left: 5px;
                text-decoration: line-through;
            }
        }
    }

    .range-slider {
        display: block;
        position: relative;
        margin: 20px 0;
        padding: 0 0 35px 0;

        .range {
            display: block;
            position: absolute;
            bottom: 0;
            font-size: 14px;
            line-height: 1em;
            font-weight: 400;
            color: $colorGray;

            &.min {
                left: 0;
            }

            &.max {
                right: 0;
            }
        }
    }

    &.load {
        &:before {
            display: block;
        }
    }
}

@media (max-width: 760px) {
    .calculator {
        .item {
            margin-top: 20px;
        }

        .info {
            margin-top: 20px;

            .col {
                display: block;
                margin: 0;
                padding: 10px 25px;
                border-bottom: 1px solid $colorBorder;
                max-width: 100%;
                width: 100%;

                &:first-child {
                    padding-left: 25px;
                    border-top: 1px solid $colorBorder;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

// END Калькулятор


// Предодобренные предложения
.offers-list {
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid $colorBorder;

    .item {
        display: block;
        position: relative;
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid $colorBorder;

        p {
            margin: 15px 0;
            font-size: 18px;
            line-height: 1.2em;
            font-weight: 400;
            color: $colorText;
            text-transform: uppercase;

            &.deadline {
                margin-top: -5px;
                font-size: 13px;
                line-height: 1.2em;
                text-transform: none;
            }

            &.amount {
                font-size: 20px;
                line-height: 1.5em;
                font-weight: 400;
            }
        }

        // .info {
        //     display: block;
        //     margin: 0;
        //     padding: 1px 0;
        //     width: 46%;

        //     p {
        //         margin: 0 0 0 25px;
        //         font-size: 18px;
        //         line-height: 1.2em;
        //         font-weight: 400;
        //         color: $colorText;
        //         text-transform: uppercase;

        //         &.deadline {
        //             margin-top: 0;
        //             font-size: 13px;
        //             line-height: 1.2em;
        //             text-transform: none;
        //         }
        //     }
        // }

        // .amount {
        //     display: block;
        //     position: absolute;
        //     left: 48%; top: 50%;
        //     margin: -15px 0 0 0;
        //     padding: 0 0 0 10px;
        //     height: 30px;
        //     font-size: 20px;
        //     line-height: 30px;
        //     font-weight: 400;
        //     color: $colorText;
        // }

        .term {
            display: block;
            position: relative;
            margin: 15px 0;
            padding: 0 0 0 40px;
            font-size: 15px;
            line-height: 15px;

            .type {
                display: block;
                font-size: 12px;
            }

            .icon {
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                margin: -14px 0 0 0;
                font-size: 28px;
                color: $colorMain;
            }
        }

        // .form {
        //     display: block;
        //     position: absolute;
        //     right: 25px; top: 50%;
        //     margin: -20px 0 0 0;
        //     width: 135px;
        // }
    }
}

// END Предодобренные предложения


// Форма техподдержки
.support-button {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 0 60px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
    font-weight: 400;
    color: $colorBorder;

    .icon {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin: -22.5px 0 0 0;
        width: 45px;
        height: 45px;
        background: $colorBorder;
        border-radius: 50%;

        i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -11px 0 0 -11px;
            font-size: 22px;
            color: $colorWhite;
        }
    }
}

.support-popup {
    display: block;
    position: fixed;
    z-index: 910;
    right: -50%;
    top: 100px;
    bottom: 0;
    margin: 0;
    padding: 30px 30px 10px 30px;
    width: 50%;
    background: $colorWhite;
    overflow: auto;
    transition: all .2s ease;

    .col {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .remark {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: $colorGray;
        line-height: 1.2em;
        text-transform: none;
    }
}

.open-support-popup {
    overflow: hidden;

    .support-button {
        .icon {
            background: $colorMain;
        }
    }

    .support-popup {
        right: 0;
    }

    .bg-pxl {
        left: 0;
        opacity: 1;
    }
}

@media (max-width: 1400px) {
    .support-popup {
        width: 75%;
        right: -75%;
    }
}


@media (min-width: 1000px) {
    .support-button:hover {
        color: $colorText;
    }
}

@media (max-width: 1000px) {
    .support-button {
        padding-left: 30px;
        height: 30px;

        .icon {
            margin-top: -15px;
            width: 30px;
            height: 30px;

            i {
                margin-left: -8px;
                margin-top: -8px;
                font-size: 16px;
            }
        }
    }

    .support-popup {
        top: 60px;
        right: -100%;
        width: 100%;
        padding: 15px;
    }
}

// END Форма техподдержки


// Форма выхода из ЛК
.logout-button {
    display: block;
    position: relative;
    margin: 0;
    width: 45px;
    height: 45px;
    color: $colorMain;

    .icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -11px 0 0 -11px;
        font-size: 22px;
    }
}

@media (min-width: 1000px) {
    .logout-button:hover {
        opacity: .8;
    }
}

// END Форма выхода из ЛК


// Модальные окна
.modal-window {
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1px 0;
    min-width: 320px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;

    .modal-bg-pxl {
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
    }

    .close-modal {
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        margin: 0 0 0 20px;
        font-size: 20px;
        color: #fff;
    }

    .close-modal:hover {
        opacity: .8;
    }

    .modal-content {
        display: block;
        position: relative;
        z-index: 5;
        margin: 30px auto;
        padding: 30px;
        width: 500px;
        background: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    }

    a {
        color: $colorLink;
    }

    p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 1.2em;
        color: $colorText;
        font-weight: 300;

        &.caption {
            font-size: 26px;
            line-height: 1.2em;
            font-weight: 400;
        }

        &.big-text,
        .big-text {
            font-size: 26px;
            line-height: 1.2em;
        }

        &.normal-text,
        .normal-text {
            font-size: 16px;
            line-height: 1.2em;
        }

        &.small-text,
        .small-text {
            font-size: 12px;
            line-height: 1.2em;
        }

        .icon {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
        }
    }
}

@media (max-width: 760px) {
    .modal-window {
        .close-modal {
            left: auto;
            margin-left: 0;
            right: 10px;
            top: 10px;
            color: $colorText;
        }

        .modal-content {
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 40px;
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
        }
    }
}

// END Модальные окна


// jquery ui slider range
.ui-slider {
    display: block;
    position: relative;
    margin: 0;
    text-align: left;
    border-radius: 6px;

    &-handle {
        position: absolute;
        z-index: 2;
        width: 34px;
        height: 34px;
        cursor: pointer;
        -ms-touch-action: none;
        touch-action: none;
        background: $colorMain;
        border: 5px solid #d7e3cd;
        padding: 0 !important;
        outline: none;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        &:before {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px 0 0 -5px;
            font-size: 10px;
            line-height: 1em;
            color: $colorWhite;
        }

        &.ui-state-hover {
            border-color: $colorMain;
        }

        &.ui-state-active {
            border-color: $colorMain;
        }
    }

    &-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        border-radius: 6px;
        background: $colorMain;
    }

    &.ui-state-disabled {
        .ui-slider-handle {
            filter: inherit;
        }

        .ui-slider-range {
            filter: inherit;
        }
    }
}

.ui-slider-horizontal {
    height: 6px;
    background: $colorBg;

    .ui-slider-handle {
        top: -14px;
        margin-left: -16px;
    }

    .ui-slider-range {
        top: 0;
        height: 100%;
    }

    .ui-slider-range-min {
        left: 1px;
    }

    .ui-slider-range-max {
        right: 1px;
    }
}

// END jquery ui slider range

// jquery ui datepicker
#ui-datepicker-div {
	z-index: 110 !important;
}
.ui-datepicker {
	display: none;
	width: 280px;
    padding: .2em .2em 0;
    background: $colorWhite;
    border: 1px solid $colorMain !important;
    
    &-header {
        position: relative;
        padding: .2em 0;
    }

    &-prev,
    &-next {
        display: block;
        position: absolute;
        top: 6px;
        width: 16px;
        height: 16px;
        color: $colorMain;

        &:before {
            display: block;
            position: absolute;
            left: 50%; top: 50%;
            margin: -6px 0 0 -6px;
            font-size: 12px;
        }
    }
    &-prev {
        left: 2px;
    }
    &-next {
        right: 2px;
    }

    &-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        font-size: 16px;
        text-align: center;
        color: $colorText;
    }

    table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
        color: $colorText;
        font-size: 14px;
    }

    td {
        border: 0;
        padding: 1px;

        span, a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
            border: 1px solid $colorMain;
            font-size: 14px;
            font-weight: 400;
            color: $colorText;

            &:hover {
                background: $colorMain;
                color: $colorWhite;
            }
        }
    }

    .ui-state-active {
        background: $colorMain;
        color: #fff;
    }
    .ui-state-disabled {
        opacity: .2;
        cursor: default;
    }
}
// END jquery ui datepicker


// Информация о займе
.loan-item {
    display: block;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid $colorBorder;

    p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;

        b,
        strong {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

@media (max-width: 760px) {
    .loan-item {
        margin-top: 10px;
        margin-bottom: 10px;

        p {
            font-size: 12px;
            line-height: 1.2em;

            b {
                font-size: 16px;
                line-height: 1.2em;
            }
        }
    }
}


// Вкладки
.switches {
    display: block;
    margin: 20px 0;
    font-size: 0;

    .switch {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 0 25px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: $colorBorder;
        border-bottom: 3px solid $colorBorder;
        transition: all .2s ease;

        &:first-child {
            margin-left: 0;
        }

        &.active {
            color: $colorMain;
            border-color: $colorMain;
            cursor: default;
        }
    }
}

.tabs {
    display: block;
    margin: 20px 0;
    padding: 0;

    .tab {
        display: none;
        margin: 0;
        padding: 1px 0;

        &.active {
            display: block;
        }
    }

    .tab-content {
        margin: 0;
        padding: 1px 0;
        border: 1px solid $colorBorder;
        border-radius: 3px;
    }

    .tab-caption {
        display: block;
        position: relative;
        margin: 30px 30px 0 30px;
        padding: 0 50px 0 0;
        font-size: 26px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorText;
    }

    .tab-inner {
        margin: 0 30px;
        padding: 0;
    }

    .close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 26px;
        color: $colorBorder;
        transition: color .2s ease;
    }
}

@media (max-width: 1200px) {
    .tabs {
        .tab-caption {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            font-size: 20px;
            line-height: 1.2em;
        }
        .tab-inner {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@media (max-width: 1000px) {
    .tabs {
        &.no-hidden-mobile {
            .tab {
                display: block;
            }
        }
    }
}

@media (min-width: 1000px) {
    .switches {
        .switch {
            &:hover {
                color: $colorMain;
                border-color: $colorMain;
            }
        }
    }

    .tabs {
        .close {
            &:hover {
                color: $colorMain !important;
            }
        }
    }
}

// END Вкладки


// Информация  об оплате
.payment-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 40px;

    .status {
        display: block;
        position: absolute;
        left: 0; top: 50%;
        margin: -10px 0 0 0;
        font-size: 20px;
        color: $colorGray;
    }
    .arrow {
        display: block;
        position: absolute;
        right: 0; top: 50%;
        margin: -8px 0 0 0;
        font-size: 16px;
        color: $colorBorder;
    }

    p {
        margin: 20px 0;
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 400;

        &.label {
            color: $colorBorder;
        }
    }
}
.payment-desc {
    display: block;
    margin: 0 -30px;
    padding: 10px 30px;
    background: $colorWhite;
    border-top: 1px solid $colorBorder;
    word-wrap: break-word;

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 400;

        &.label {
            color: $colorBorder;
        }
    }
}

@media (max-width: 760px) {
    .payment-desc {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;

        p {
            font-size: 14px;
            line-height: 1.2em;
        }
    }
}
// END Информация об оплате


// Вопросы и ответы
.question-list {
    display: block;
    margin: 20px 0;
    padding: 1px 0;

    .group {
        display: block;
        margin: 30px 0 0 0;
        padding: 1px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .question {
        position: relative;
        z-index: 3;
        margin: 0 0 0 1px;
        padding: 0;
        border-top: 1px dotted $colorBorder;

        &.active {
            .arrow {
                transform: rotate(-180deg);
            }
            .answer {
                display: block;
            }
        }        
    }

    .question-title {
        position: relative;
        margin: 0;
        padding: 15px 90px 15px 0;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorText;

        &:hover {
            opacity: .8;
        }
    }

    .arrow {
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        margin: -6px 0 0 0;
        font-size: 12px;
        color: $colorGray;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        color: $colorText;

        &.theme {
            color: $colorMain;
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
        }
    }

    
}                
// END Вопросы и ответы


// Акции и конкурсы
.promo-item {
    display: block;
    margin: 20px 0;
    padding: 1px 0;
    text-decoration: none;
    transition: opacity .2s ease;

    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 300;

        &.name {
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
            color: $colorMain;
            text-transform: uppercase;
        }
    }

    &:hover {
        opacity: .8;
    }
}
// END Акции и конкурсы


// Досрочное погашение
.prepayment {
    display: block;
    margin: 0;
    padding: 0;

    .history-link {
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.2em;
        text-align: right;
    }

    p {
        font-size: 16px;
        line-height: 1.4em;
    }

    .toggle-caption {
        p {
            font-size: 20px;
            line-height: 1em;
        }
    }

    .prepayment-type {
        display: block;

        &.load {
            * {
                display: none;
            }
            .loader {
                display: block;
            }
        }

        .loader {
            display: none;
            margin: 0;
            padding: 40px 0 0 0;
            background: #fff url(../img/load.gif) center 0 no-repeat;
            font-size: 14px;
            line-height: 1.2em;
            color: $colorText;
            text-align: center;
        }
    }

    .loan-item {
        p {
            font-size: 14px;
            line-height: 1.2em;
        }
    }

    .sms-field {
        display: block;
        margin: 20px auto;
        max-width: 300px;
    }
}


@media (max-width: 1000px) {
    .prepayment {
        .history-link {
            margin-top: 20px;
            font-size: 24px;
            line-height: 1em;
        }

        p {
            font-size: 14px;
            line-height: 1.4em;
        }
    }
}
// END Досрочное погашение


// Блок-шапка для СМС-подписи
.header-sms-block {
    display: block;
    margin: -30px -30px 0 -30px;
    padding: 20px 30px;
    background: $colorMain;
    border-radius: 5px 5px 0 0;
}
.header-sms-block {
    p {
        margin: 10px 0;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 760px) {
    .header-sms-block {
        margin: -20px -20px 0 -20px;
        border-radius: 0px;
    }
}
// END Блок-шапка для СМС-подписи


// история досрочных погашений
.history-item {
    display: block;
    margin: 10px 0;
    padding: 1px 0;
    border-bottom: 1px solid $colorBorder;

    p {
        margin: 10px 0;
        font-size: 14px;
        line-height: 20px;

        b,
        strong {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

@media (max-width: 760px) {
    .history-item {
        p {
            font-size: 12px;
            line-height: 1.2em;

            b {
                font-size: 16px;
                line-height: 1.2em;
            }
        }
    }
}
// END история досрочных погашений


// Приведи друга
.friends-block {
    display: block;
    position: relative;
    margin: -20px -30px 0 -30px;
    padding: 0;

    .img {
        img {
            width: 100%;
        }
    }

    .switches {
        display: block;
        position: absolute;
        right: 0; top: -45px;
        margin: 0;
        text-align: right;

        .switch {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 40px;
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 400;
            color: #fff;
            border-bottom: 1px dotted $colorWhite;

            &:hover {
                border-color: transparent;
            }

            &.active {
                color: $colorMain;
                border-color: transparent;
                cursor: default;
            }
        }
    }

    .section {
        display: block;
        margin: 0;
        padding: 30px;
        background: $colorWhite;

        &-gray {
            background: $colorBg;
        }
    }

    .promo-code {
        display: block;
        margin: 30px auto;
        padding: 15px;
        width: 320px;
        max-width: 100%;
        background: #fff;
        font-family: $fontBase;
        font-size: 16px;
        line-height: 1.2em;
        color: $colorText;
        text-align: center;
        border: 1px solid $colorBorder;
        border-radius: 5px;
    }

    .social {
        display: block;
        margin: 30px 0;
        font-size: 16px;
        text-align: center;

        a {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            font-size: 30px;
            line-height: 1em;

            &.vk {
                color: #2a91c9;
            }

            &.ok {
                color: #ffa033;
            }

            &.fb {
                color: #305c96;
            }
        }
    }

    p.sum {
        font-size: 36px;
        line-height: 1.2em;
    }
}

.height-small {
    .friends-block {
        .switches {
            top: 5px;
            right: 30px;

            .switch {
                color: $colorText;
                border-color: $colorText;

                &.active {
                    color: $colorMain;
                    border-color: transparent;
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .friends-block {
        margin: 0 -20px 0 -20px;
        padding: 0;

        .switches {
            display: none;
        }

        .section {
            padding: 20px 10px;
        }
    }
}
// END Приведи друга



// Footer
.footer-margin {
    height: 100px;
}
.footer {
    display: block;
    position: relative;
    z-index: 100;
    margin: -100px 0 0 0;
    height: 100px;
    background: $colorMain;
}
// end Footer