@import './components/variables';
@import './components/icons';
@import './components/base';

// хелперы: обнуления отступов и т.п.
@import './components/helper';

// сетка
@import './components/grid';

// все инпаты, ползунки и т.п.
@import './components/forms';

// все кнопки
@import './components/buttons';

// все стили для заголовков, текстов и т.п.
@import './components/typographic';

// хедер
@import './components/header';

// все меню
@import './components/menu';

// все слайдеры/swiper
@import './components/sliders';

// калькулятор
@import './components/calculator';

// инфографика: блоки с иконками и т.п.
@import './components/infographic';

// продукты
@import './components/products';

// мобильное приложение
@import './components/mobile-application';

// кредитный рейтинг
@import './components/credit-rating';

// новости на главном и страница новости
@import './components/news';

// отзывы на главном
@import './components/comments';

// пресса о нас на главном и на странице пресса
@import './components/press';

// комментарии экспертов на главноми на странице комментриев экспертов
@import './components/experts';

// наши достижения на главном
@import './components/progresses';

// наши партнеры на главном
@import './components/partners';

// хлебные крошки
@import './components/breadcrumbs';

// ipad
@import './components/ipad';

// Документы
@import './components/documents';

// Виды займов
@import './components/loan-types';

// Услуги
@import './components/services';

// Статьи
@import './components/articles.scss';

// МикАгенты
@import './components/agents.scss';

// Инвестор
@import './components/investors.scss';

// Привелегии
@import './components/liberties.scss';

// О компании
@import './components/about.scss';

// Сеоблоки
@import './components/seo.scss';

// Вопросы и ответы
@import './components/faq.scss';

// Вопросы и ответы
@import './components/mig-app.scss';

// Авторизация
@import './components/login';
// iphone
@import './components/iphone';
// eclipse/kreditnyy-reiting
@import './components/credit-rating-images';
// Вопросы и ответы
.question-list {
    display: block;
    margin: 20px 0;
    padding: 1px 0;

    .group {
        display: block;
        margin: 30px 0 0 0;
        padding: 1px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .question {
        position: relative;
        z-index: 3;
        margin: 0 0 0 1px;
        padding: 0;
        border-top: 1px dotted $colorBorder;

        &.active {
            .arrow {
                transform: rotate(-180deg);
            }
            .answer {
                display: block;
            }
        }
    }

    .question-title {
        position: relative;
        margin: 0;
        padding: 15px 90px 15px 0;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorText;

        &:hover {
            opacity: .8;
        }
    }

    .arrow {
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        margin: -6px 0 0 0;
        font-size: 12px;
        color: $colorGray;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        color: $colorText;

        &.theme {
            color: $colorMain;
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
        }
    }


}
// END Вопросы и ответы


// Акции и конкурсы
.promo-item {
    display: block;
    margin: 20px 0;
    padding: 1px 0;
    text-decoration: none;
    transition: opacity .2s ease;

    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 300;

        &.name {
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
            color: $colorMain;
            text-transform: uppercase;
        }
    }

    &:hover {
        opacity: .8;
    }
}
// END Акции и конкурсы





// Footer
@import './components/footer';