@import 'imports/variables';
@import 'imports/icons';
@import 'imports/preloaders';
@import 'imports/base';


// хелперы: обнуления отступов и т.п.
@import 'imports/helper';

// сетка
@import 'imports/grid';

// все инпаты, ползунки и т.п.
@import 'imports/forms';

// все кнопки
@import 'imports/buttons';

// все стили для заголовков, текстов и т.п.
@import 'imports/typographic';

// хедер
@import 'imports/header';

// все меню
@import 'imports/menu';

// все слайдеры/swiper
@import 'imports/sliders';

// калькулятор
@import 'imports/calculator';

// инфографика: блоки с иконками и т.п.
@import 'imports/infographic';

// продукты
@import 'imports/products';

// мобильное приложение
@import 'imports/mobile-application';

// кредитный рейтинг
@import 'imports/credit-rating';

// новости на главном и страница новости
@import 'imports/news';

// отзывы на главном
@import 'imports/comments';

// пресса о нас на главном и на странице пресса
@import 'imports/press';

// комментарии экспертов на главноми на странице комментриев экспертов
@import 'imports/experts';

// наши достижения на главном
@import 'imports/progresses';

// наши партнеры на главном
@import 'imports/partners';

// хлебные крошки
@import 'imports/breadcrumbs';

// ipad
@import 'imports/ipad';

// Документы
@import 'imports/documents';

// Виды займов
@import 'imports/loan-types';

// Услуги
@import 'imports/services';

// Статьи
@import 'imports/articles';

// МикАгенты
@import 'imports/agents';

// Инвестор
@import 'imports/investors';

// Привелегии
@import 'imports/liberties';

// О компании
@import 'imports/about';

// Сеоблоки
@import 'imports/seo';

// Вопросы и ответы
@import 'imports/faq';

// Вопросы и ответы
@import 'imports/mig-app';

// Авторизация
@import 'imports/login';

// iphone
@import 'imports/iphone';

// eclipse/kreditnyy-reiting
@import 'imports/credit-rating-images';

// Погашение займа
@import 'imports/loan_repayment';


// Акции и конкурсы
.promo-item {
    display: block;
    margin: 20px 0;
    padding: 1px 0;
    text-decoration: none;
    transition: opacity .2s ease;

    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 300;

        &.name {
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
            color: $colorMain;
            text-transform: uppercase;
        }
    }

    &:hover {
        opacity: .8;
    }
}
// END Акции и конкурсы


// Footer
@import 'imports/footer';