@import './components/variables';
@import './components/icons';
@import './components/base';

// хелперы: обнуления отступов и т.п.
@import './components/helper';

// сетка
@import './components/grid';

// все инпаты, ползунки и т.п.
@import './components/forms';

// все кнопки
@import './components/buttons';

// все стили для заголовков, текстов и т.п.
@import './components/typographic';

// хедер
@import './components/header';

// все меню
@import './components/menu';

// все слайдеры/swiper
@import './components/sliders';

// калькулятор
@import './components/calculator';

// инфографика: блоки с иконками и т.п.
@import './components/infographic';

// продукты
@import './components/products';

// мобильное приложение
@import './components/mobile-application';

// кредитный рейтинг
@import './components/credit-rating';

// новости на главном и страница новости
@import './components/news';

// отзывы на главном
@import './components/comments';

// пресса о нас на главном и на странице пресса
@import './components/press';

// комментарии экспертов на главноми на странице комментриев экспертов
@import './components/experts';

// наши достижения на главном
@import './components/progresses';

// наши партнеры на главном
@import './components/partners';

// хлебные крошки
@import './components/breadcrumbs';

// ipad
@import './components/ipad';

// Документы
@import './components/documents';

// Виды займов
@import './components/loan-types';

// Услуги
@import './components/services';

// Статьи
@import './components/articles.scss';

// МикАгенты
@import './components/agents.scss';

// Инвестор
@import './components/investors.scss';

// Привелегии
@import './components/liberties.scss';

// О компании
@import './components/about.scss';

// Сеоблоки
@import './components/seo.scss';

// Вопросы и ответы
@import './components/faq.scss';

// Вопросы и ответы
@import './components/mig-app.scss';

// Авторизация
@import './components/login';

// Footer
@import './components/footer';