html {
    margin: 0;
    padding: 0;
    font-family: $fontBase;
    font-size: 10px;
    font-weight: 300;
    color: $colorText;
    height: 100%;
    min-height: 640px;
    background: $colorWhite;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    padding: 0;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $colorWhite;
}

* {
    outline: none;
    box-sizing: border-box;
}

a {
    -webkit-touch-callout: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    outline: none;
}

.clr {
    display: block;
    clear: both;
}

.hide {
    display: none !important;
}

@media (min-width: 1000px) {
    .hide-desktop {
        display: none !important;
    }
}

@media (min-width: 760px) {
    .hide-tablet {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .hide-mobile {
        display: none !important;
    }
}

.body {
    min-height: 100%;
    height: auto !important;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.container {
    margin: 0 auto;
    padding: 1px 10px;
    max-width: 1200px;

    &.fullscreen {
        max-width: 100%;
    }
}