.row {
    margin: 0 -10px;

    .col {
        display: block;
        float: left;
        padding: 0 10px;
        width: 100%;

        &.float-right {
            float: right;
        }

        &.w-20 {
            width: 20%;
        }

        &.w-25 {
            width: 25%;
        }

        &.w-33 {
            width: 33.33333333%;
        }

        &.w-40 {
            width: 40%;
        }

        &.w-50 {
            width: 50%;
        }

        &.w-66 {
            width: 66%;
        }
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media (max-width: 1000px) {
    .row {
        .col {
            float: none;
            width: 100% !important;

            &.w-25-mobile {
                float: left;
                width: 25% !important;

                &.float-right {
                    float: right;
                }
            }
            &.w-50-mobile {
                float: left;
                width: 50% !important;

                &.float-right {
                    float: right;
                }
            }
            &.w-75-mobile {
                float: left;
                width: 75% !important;

                &.float-right {
                    float: right;
                }
            }
        }
    }
}

@media (min-width: 760px) and (max-width: 1000px) {
    .row {
        .col {
            &.w-50-tablet {
                float: left;
                width: 50% !important;

                &.float-right {
                    float: right;
                }
            }
        }
    }
}
