$fontBase: 'Roboto', sans-serif;
$fontAccent: 'Roboto Condensed', sans-serif;
$colorMain: #7dc041;
$colorMain2: #005498;
$colorMain3: #ffcd2b;
$colorBg: #f4f4f4;
$colorText: #333333;
$colorGray1: #7e7e7e;
$colorBorder: #c2c2c2;
$colorError: #e94551;
$colorWhite: #ffffff;
$colorLink: #7dc041;