.articles {
    .articles-item {
        text-align: left;        
        border-bottom: 1px solid $colorBorder;
        .row {
            &:nth-child(even) {
                .item-info {
                    display: block;
                    position: relative;
                    float: right;
                }
            }
        }

        .image-wrapper {
            width: 100%;
            height: 329px;

            margin: 0;
        }
        .item-image {
            display: block;
            width: 100%;
            height: 100%;

            margin: 30px 0;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: $colorBg;

            &::before {
                content: '';
                display: block;
                padding-bottom: 68.5%;
            }
        }

        .item-info {
            margin: 30px 0;
        }
        .title {
            text-align: left;
            color: $colorText;
            font-size: 24px;
            margin: 0 0 30px 0;
        }

        .article-link {
            display: block;
            margin: 15px 0;
            outline: none;
            text-decoration: none;
            color: $colorGray;
            font-size: 16px;

            &:hover {
                color: $colorText;
            }
        }
    }
}
