.button {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 50px;
    background: $colorMain;
    font-family: $fontBase;
    font-size: 14px;
    line-height: 48px;
    font-weight: 500;
    color: $colorWhite;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid transparent;
    overflow: hidden;
    transition: all .2s ease;
    @include desktop {
        &:hover {
            background: $colorMainHover;
        }
    }

    &.uppercase {
        letter-spacing: 0.14em;
        text-transform: uppercase;
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;

        &-big {
            font-size: 36px;
            margin-right: 20px;
        }

        &:before {
            line-height: 48px;
        }
    }

    img {
        display: inline-block;
        vertical-align: middle;
    }

    &-inline {
        display: inline-block;
        vertical-align: top;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &-small {
        height: 40px;
        line-height: 38px;

        .icon {   
            &:before {
                line-height: 38px;
            }
        }
    }

    &-medium {
        height: 60px;
        font-size: 16px;
        line-height: 58px;

        .icon {    
            &:before {
                line-height: 58px;
            }
        }

        &.uppercase {
             font-size: 18px;
        }
    }

    &-big {
        height: 65px;
        font-size: 16px;
        line-height: 63px;

        .icon {
            &:before {
                line-height: 63px;
            }
        }
    }

    &-secondary {
        background: $colorMain2;
        color: $colorWhite;
        @include desktop {
            &:hover {
                background: $colorMain2Hover;
            }
        }
    }

    &-form {
        background: $colorMain3;
        color: $colorText;
        @include desktop {
            &:hover {
                background: $colorMain3Hover;
            }
        }
    }

    &-gray {
        background: $colorBg;
        color: $colorText;
        @include desktop {
            &:hover {
                background: $colorGrayHover;
            }
        }
    }

    &-white-border-gray {
        background: $colorWhite;
        color: $colorText;
        @include desktop {
            &:hover {
                background: $colorWhite;
                border-color: $colorGrayBorderButton;
            }
        }
    }

    &-text {
        background: transparent;
        color: $colorText;
        @include desktop {
            &:hover {
                background: transparent;
                color: $colorMain;
            }
        }
    }

    &-shadow {
        position: relative;
        background: $colorWhite;
        border-color: $colorBg;
        color: $colorText;
        overflow: visible;

        &-active{
            font-weight: bold;
        }

        @include desktop {
            &:hover, &-active {
                background: $colorWhite;
                color: $colorText;
                transform: translateY(-3px);
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
            z-index: -1;
            transition: all .2s ease;
            @include desktop {
                &:hover, &-active {
                    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
                }
            }
        }
    }

    &-round{
        border-radius: 25px;
        &:after{
            border-radius: 25px;
        }
    }

    &-border {
        border-color: $colorMain;
        background: $colorWhite;
        color: $colorText;
        @include desktop {
            &:hover {
                background: $colorMainHover;
                color: $colorMain;
            }
        }
    }

    &-app {
        background: transparent;
        color: $colorText;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 20px;
        @include desktop {
            &:hover {
                background: transparent;
                color: $colorText;
                opacity: .8;
            }
        }
    }

    &-w-35{
        width: 35%;
        margin-right: auto;
        margin-left: auto;

        @include mobile{
            width: 100%;
        }
    }

    &:disabled,
    &.disabled {
        opacity: .5 !important;
        cursor: default;
    }
}

button.button,
input.button {
    line-height: 1.2em !important;
}

.button-w-150 {    
    width: 150px;
}