.calculator {
    display: block;
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 1px 20px 0 20px;
    background: $colorWhite;
    border-radius: 3px;
    overflow: hidden;
    @include mobile {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &.inner {
        padding: 1px 0;
        overflow: visible;
        @include mobile {
            margin: 0;
        }

        .shadow-block {
            padding: 0 20px;
            @include mobile {
                padding: 1px 20px;
            }

            &:hover {
                transform: none;
            }
        }

        .calculator-item {
            max-width: 230px;
            margin: 22px 0;
            @include mobile {
                max-width: 100%;
            }

            &.center {
                margin: 22px auto;
            }

            &.result {
                margin: 0 20px;
                padding: 0;
                max-width: 100%;
                border-radius: 0 0 3px 3px;
                @include xs-mobile {
                    margin: 0 10px;
                }

                .after-divider {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: -.5px;
                        width: 1px;
                        height: 10px;
                        background: $colorGray;
                        @include mobile {
                            content: none;
                            //bottom: -.5px;
                            //top: auto;
                            //right: auto;
                            //width: 100px;
                            //height: 1px;
                            //left: 50%;
                            //margin-left: -50px;
                        }
                    }
                }

                .min-margin {
                    margin: 1px 0;

                    .medium,.medium-label {
                        font-size: 12px;
                    }
                }
            }
        }

        .button {
            max-width: 230px;
            float: right;
            @include mobile {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    &:before {
        content: "";
        display: none;
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/load.gif') center center no-repeat;
    }

    &.load {
        * {
            visibility: hidden;
        }

        &:before {
            display: block;
            visibility: visible;
        }
    }

    &-item {
        display: block;
        margin: 35px 0;
        padding: 1px 0;
        @include mobile {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &.result {
            margin: 25px -20px 0 -20px;
            padding: 1px 20px;
            background: $colorBg;
            @include mobile {
                margin-top: 20px;
                margin-left: 0;
                margin-right: 0;
                padding-left: 15px;
                padding-right: 15px;
            }

            .calculator-row {
                margin-top: 17px;
                margin-bottom: 17px;
            }
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 300;
            color: $colorText;

            &.big {
                font-size: 24px;
                line-height: 28px;
                font-weight: 400;
            }

            &.medium-label {
                line-height: 20px;
            }

            &.big-label {
                line-height: 28px;
            }

            &.medium {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
            }

            &.small {
                font-size: 12px;
                line-height: 1.2em;
            }

        }
    }

    &-row {
        display: block;
        margin: 10px 0;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }

        .left {
            display: block;
            float: left;
            margin: 0;
            text-align: left;
        }
        .right {
            display: block;
            float: right;
            margin: 0;
            text-align: right;
        }
    }

    &-slider {
        display: block;
        margin: 0;
        padding: 7px 0 0 0;
        height: 20px;
    }

}