.calculator {
    display: block;
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 1px 20px 0 20px;
    background: $colorWhite;
    border-radius: 3px;
    overflow: hidden;

    &:before {
        content: "";
        display: none;
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/load.gif') center center no-repeat;
    }

    &.load {
        * {
            visibility: hidden;
        }

        &:before {
            display: block;
            visibility: visible;
        }
    }

    &-item {
        display: block;
        margin: 35px 0;
        padding: 1px 0;

        &.result {
            margin: 25px -20px 0 -20px;
            padding: 1px 20px;
            background: $colorBg;

            .calculator-row {
                margin-top: 17px;
                margin-bottom: 17px;
            }
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 1.2em;
            font-weight: 300;
            color: $colorText;

            &.big {
                font-size: 24px;
                line-height: 28px;
                font-weight: 400;
            }

            &.medium-label {
                line-height: 20px;
            }

            &.big-label {
                line-height: 28px;
            }

            &.medium {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
            }

            &.small {
                font-size: 12px;
                line-height: 1.2em;
            }

        }
    }

    &-row {
        display: block;
        margin: 10px 0;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }

        .left {
            display: block;
            float: left;
            margin: 0;
            text-align: left;
        }
        .right {
            display: block;
            float: right;
            margin: 0;
            text-align: right;
        }
    }

    &-slider {
        display: block;
        margin: 0;
        padding: 7px 0 0 0;
        height: 20px;
    }


}

@media (max-width: 1000px) {
    .calculator {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;

        &-item {
            margin-top: 20px;
            margin-bottom: 20px;

            &.result {
                margin-top: 20px;
                margin-left: 0;
                margin-right: 0;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}