.experts {
    .experts-slider {
        @include desktop {
            margin: 0;
            padding: 0;
        }

        .swiper-slider {
            @include desktop {
                overflow: visible;
            }

            @include mobile {
                margin-left: -10px;
                margin-right: -10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .swiper-slide {
            @include desktop {
                opacity: 0;
                transform: scale(0.75);
                transition: opacity 0.2s ease, transform 0.4s ease;
            }

            &-visible {
                @include desktop {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        .swiper-pagination {
            width: 100%;
            @include desktop {
                display: none;
            }

            .swiper-pagination-bullet {
                background: $colorGray;

                &.swiper-pagination-bullet-active {
                    background: $colorMain;
                }
            }
        }
    }

    .expert-card {
        display: block;
        position: relative;

        padding: 20px;

        outline: none;
        text-decoration: none;

        color: $colorText;
        background: #ffffff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);

        @include mobile {
            margin: 10px 0;
        }
        @include tablet {
            margin: 5px 0;
        }
        @include desktop {
            margin: 10px 0;
        }

        .img {
            position: absolute;
            display: block;
            top: 24px;
            left: 26px;
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            margin: 0;
        }

        .name {
            margin: 20px 0;

            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 179.19%;
            padding-left: 110px;
            margin-bottom: 10px;

            @include mobile {
                height: auto;
            }
            @include tablet {
                height: 30px;
            }
        }

        .post {
            font-size: 12px;
            color: $colorGray;
            padding-left: 110px;
            margin: 10px 0 40px 0;

            @include mobile {
                height: auto;
            }
            @include tablet {
                height: 30px;
            }
        }

        .desc {
            // height: 181px;

            padding-bottom: 40px;

            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 179.19%;

            @include mobile {
                height: auto;
            }
            @include tablet {
                height: 181px;
            }
        }

        .link {
            position: absolute;
            display: block;
            bottom: 20px;
            left: 20px;
            font-size: 16px;
            color: $colorMain;

            .icon {
                position: absolute;
                display: block;
                right: -20px;
                bottom: 2px;
            }
        }
    }

    .expert-card-mini {
        height: 265px;
        box-shadow: none;
        .img {
            top: 29px;
            left: 19px;
        }
    }
}
