//Вопросы ответы 
.faq { 

    &-list {
        .faq-q {
            border-bottom: 1px solid $colorBorder;
            position: relative;

            &:after {
                content: "";
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCA1MSA1MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMy41NzY5IDI2LjkyMzFWNTBIMjcuNDIzMVYyNi45MjMxSDUwLjVWMjMuMDc2OUgyNy40MjMxVjBIMjMuNTc2OVYyMy4wNzY5SDAuNVYyNi45MjMxSDIzLjU3NjlaIiBmaWxsPSIjMzMzMzMzIi8+Cjwvc3ZnPgo=) no-repeat center;
                display: block;
                position: absolute;
                right: 0;
                top: 15px;
                width: 20px;
                height: 20px;
                overflow: hidden;
                transition: linear .225s;
            }

            &-desc {
                overflow: hidden;
                max-height: 0; 

                ul {
                    margin-bottom: 30px;
                }
            }

            &.active {
                &:after {
                    transform: rotate(180deg);
                    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDUxIDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMC4wNzcxNDg0SDUwLjVWMy45MjMzSDAuNVYwLjA3NzE0ODRaIiBmaWxsPSIjN0RDMDQxIi8+Cjwvc3ZnPgo=) no-repeat center;
                }

                .faq-q-desc {
                    max-height: 1500px;
                    overflow: visible;
                    margin-bottom: 15px; 

                    .caption {
                        font-weight: bold;
                    }
                }

                .faq-q-title {
                    a {
                        color: $colorMain;
                    }
                }
            }

            &-title {
                margin: 0;

                a {
                    display: block;
                    padding: 15px 20px 15px 0;
                    color: $colorText;
                    text-decoration: none;
                    transition: color .2s;
                }

            }
        }
    }

}



.question-list {
    display: block;
    margin: 20px 0;
    padding: 1px 0;

    .group {
        display: block;
        margin: 30px 0 0 0;
        padding: 1px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .question {
        position: relative;
        z-index: 3;
        margin: 0 0 0 1px;
        padding: 0;
        border-top: 1px dotted $colorBorder;

        &.active {
            .arrow {
                transform: rotate(-180deg);
            }
            .answer {
                display: block;
            }
        }
    }

    .question-title {
        position: relative;
        margin: 0;
        padding: 15px 90px 15px 0;
        font-size: 20px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorText;

        &:hover {
            opacity: .8;
        }
    }

    .arrow {
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        margin: -6px 0 0 0;
        font-size: 12px;
        color: $colorGray;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        color: $colorText;

        &.theme {
            color: $colorMain;
            font-size: 20px;
            line-height: 1.2em;
            font-weight: 400;
        }
    }


}
