.footer-margin {
    height: 380px;
    @include mobile {
        height: 450px;
    }
}
.footer {
    display: block;
    position: relative;
    z-index: 100;
    margin: -380px 0 0 0;
    height: 380px;
    background: $colorMain;
    @include mobile {
        height: 450px;
        margin: -450px 0 0 0;
    }

    .logo {
        position: relative;
        display: block;
        width: 76px;
        height: 76px;
        background: url(../img/light-logo.svg) no-repeat center;
        background-size: contain;
        margin-top: 30px;
    }

    .tel {
        position: relative;
        display: block;
        font-size: 27px;
        font-weight: normal;
        letter-spacing: -0.015em;
        color: $colorWhite;
        text-decoration: none;
        margin-top: 45px;
        @include mobile {
            margin-top: 20px;
            text-align: center;
        }
    }

    .small-text {
        color: $colorWhite;
        margin: 0;
        @include mobile {
            text-align: center;
        }
    }

    ul {
        margin: 30px 0;
        list-style: none;
        padding: 0;

        li {
            margin: 20px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .link {
                font-size: 14px;
                font-weight: normal;
                color: $colorWhite;
                text-decoration: none;
                @include desktop {
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }

    .apps {
        position: relative;
        display: block;
        margin-top: 30px;
        font-size: 0;
        text-align: right;
        @include mobile {
            text-align: center;
        }

        .app-link {
            position: relative;
            display: inline-block;
            width: 153px;
            height: 46px;
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            @include mobile {
                width: 135px;
            }

            &:nth-child(2) {
                margin-top: 10px;
                @include mobile {
                    margin-top: 0;
                    margin-left: 10px;
                }
            }
        }
    }

    .social {
        position: relative;
        display: block;
        margin: 25px 0;
        font-size: 0;
        text-align: right;
        @include mobile {
            text-align: center;
        }

        .social-link {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-right: 11px;
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .comodo {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
        background-size: 30% !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        @include mobile {
            height: 20px;
            background-size: contain !important;
        }
    }

    .copyright {
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50px;
        background: $colorWhite;

        p {
            font-size: 14px;
            margin: 15px 0;
            color: $colorText;
        }

        .intertenlab {
            position: relative;
            display: block;
            height: 50px;
            text-decoration: none;
            float: right;
            font-size: 26px;
            color: $colorText;

            .icon {
                position: absolute;
                display: block;
                width: 26px;
                height: 26px;
                top: 50%;
                margin-top: -13px;
                right: 0;
            }
        }
    }

}