// Типографика форм
.field {
    display: block;
    position: relative;
    z-index: 3;
    margin: 20px 0;

    &.for-select {
        z-index: 5;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .label {
        display: block;
        position: absolute;
        z-index: 3;
        left: 15px;
        right: 15px;
        top: 14px;
        font-size: 12px;
        line-height: 1em;
        font-weight: 400;
        color: $colorBorder;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: all .1s ease;

        &:after {
            content: "";
            color: $colorError;
        }
    }

    .error-message {
        display: none;
        margin: 5px 0 0 0;
        font-size: 12px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorError;
    }

    .input-text {
        display: block;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 22px 15px 0 15px;
        width: 100%;
        height: 65px;
        background: #fff;
        border: 1px solid $colorBorder;
        font-family: $fontBase;
        font-size: 16px;
        line-height: 1em;
        font-weight: 400;
        color: $colorText;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
        transition: all .2s ease;
    }

    .textarea {
        display: block;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 33px 15px 0 15px;
        width: 100%;
        height: 140px;
        background: #fff;
        border: 1px solid $colorBorder;
        font-family: $fontBase;
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 400;
        color: $colorText;
        border-radius: 3px;
        outline: none;
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
        transition: all .2s ease;
    }

    .selectwrap {
        display: block !important;
        z-index: 5 !important;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 65px;
        background: #fff;
        border: 1px solid $colorBorder;
        font-family: $fontBase;
        font-size: 16px;
        line-height: 1em;
        font-weight: 400;
        color: $colorText;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
        transition: all .2s ease;
    }

    .jq-file {
        display: block;
        position: relative;
        z-index: 2;
        margin: 0;
        padding: 24px 40px 0 15px;
        width: 100%;
        height: 65px;
        background: $colorBg;
        border: 1px solid $colorBg;
        font-family: $fontBase;
        font-size: 16px;
        line-height: 1em;
        font-weight: 400;
        color: $colorText;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;

        &:before {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -8px 0 0 0;
            font-size: 16px;
            color: $colorMain;
        }

        &.changed {
            background: $colorWhite;
            border-color: $colorBorder;
        }

        &__name {
            margin: 0 15;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__browse {
            display: none;
        }
    }

    .jq-selectbox {
        display: block !important;
        z-index: 4 !important;
        margin: 0;
        width: 100%;
        height: 65px;
        font-family: $fontBase;
        font-size: 16px;
        line-height: 1em;
        font-weight: 400;
        color: $colorText;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;

        &__select-text {
            display: block;
            margin: 0 30px 0 15px;
            padding: 35px 0 0 0;

            &.placeholder {
                display: none !important;
            }
        }

        &__select {
            display: block;
            position: relative;
            z-index: 3;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &__dropdown {
            display: block;
            position: absolute;
            left: -1px;
            right: -1px;
            top: 60px;
            background: $colorWhite;
            border: 1px solid $colorBorder;
            border-radius: 0 0 3px 3px;
            border-top: none;

            ul {
                display: block;
                margin: 0 0 5px 0;
                padding: 0;
                max-height: 300px;

                &:before {
                    display: none;
                }
            }

            li {
                display: block;
                margin: 0;
                padding: 10px 15px 10px 15px;
                font-size: 14px;
                line-height: 1.2em;
                font-weight: 400;
                color: $colorText;
                cursor: pointer;

                &:hover {
                    color: $colorMain;
                }

                &.selected {
                    color: $colorMain;
                }
            }
        }

        &__trigger {
            display: block;
            position: absolute;
            z-index: 3;
            right: 15px;
            top: 50%;
            margin: -5px 0 0 0;
            width: 10px;
            font-family: 'serif';
            font-size: 10px;
            color: $colorText;
        }

        &.opened {
            .jq-selectbox__trigger {
                transform: rotate(-180deg);
            }
        }

        .jspVerticalBar {
            right: 5px;
        }
    }

    &.required {
        .label {
            &:after {
                content: " *";
            }
        }

    }

    &.empty {
        .label {
            top: 24px;
            font-size: 16px;
            line-height: 1em;
            color: $colorText;
        }

        .input-text,
        .textarea,
        .selectwrap {
            background: $colorBg;
            border-color: $colorBg;
        }

        .jq-selectbox {
            &__dropdown {
                background: $colorBg;
                border-color: $colorBg;
            }
        }
    }

    &.error {
        .error-message {
            display: block;
        }

        .input-text,
        .textarea,
        .selectwrap,
        .jq-file {
            border-color: $colorError;
        }
    }

    &.success {

        .input-text,
        .textarea,
        .selectwrap,
        .jq-file {
            border-color: $colorGray;
        }
    }

    .icon {
        display: block;
        position: absolute;
        z-index: 3;
        right: 15px; top: 50%;
        margin: -13px 0 0 0;
        font-size: 26px;
        color: $colorBorder;
    }
}

.radio-button {
    display: block;
    position: relative;
    margin: 20px 0;
    padding: 0 0 0 30px;

    input[type="radio"] {
        display: none;
    }

    .radio-icon {
        display: block;
        position: absolute;
        left: 0; top: 50%;
        margin: -10px 0 0 0;
        width: 20px; height: 20px;
        background: $colorBg;
        border: 1px solid $colorBorder;
        border-radius: 50%;
        transition: all .2s ease;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            border: 2px solid $colorBg;
            border-radius: 50%;
        }
    }

    input[type="radio"]:checked+.radio-icon {
        border-color: $colorMain;
        background-color: $colorMain;

        &:before {
            border-color: $colorWhite;
        }
    }

    .label {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        color: $colorText;
    }
}


@media (max-width: 1000px) {
    .field {
        .jq-selectbox {
            select {
                z-index: 5;
            }
        }
    }

    .radio-button {
        .label {
            font-size: 16px;
        }
    }
}

// jquery ui slider range
.ui-slider {
    display: block;
    position: relative;
    margin: 0;
    text-align: left;
    border-radius: 6px;

    &-handle {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        cursor: pointer;
        -ms-touch-action: none;
        touch-action: none;
        background: $colorMain;
        padding: 0 !important;
        outline: none;
        box-sizing: border-box;
        border-radius: 5px;

        &.ui-state-hover {
            background: $colorMainHover;
        }

        &.ui-state-active {
            background: $colorMainHover;
        }
    }

    &-range {
        display: block;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        background: $colorBg;
    }

    &.ui-state-disabled {
        .ui-slider-handle {
            filter: inherit;
        }

        .ui-slider-range {
            filter: inherit;
        }
    }

    &-horizontal {
        height: 2px;
        background: $colorBg;

        .ui-slider-handle {
            top: -9px;
            margin-left: -9px;
        }

        .ui-slider-range {
            top: 0;
            height: 100%;
        }

        .ui-slider-range-min {
            left: 1px;
        }

        .ui-slider-range-max {
            right: 1px;
        }
    }
}
// END jquery ui slider range

// jquery ui datepicker
#ui-datepicker-div {
    z-index: 110 !important;
}
.ui-datepicker {
    display: none;
    width: 280px;
    padding: .2em .2em 0;
    background: $colorWhite;
    border: 1px solid $colorMain !important;

    &-header {
        position: relative;
        padding: .2em 0;
    }

    &-prev,
    &-next {
        display: block;
        position: absolute;
        top: 6px;
        width: 16px;
        height: 16px;
        color: $colorMain;

        &:before {
            display: block;
            position: absolute;
            left: 50%; top: 50%;
            margin: -6px 0 0 -6px;
            font-size: 12px;
        }
    }
    &-prev {
        left: 2px;
    }
    &-next {
        right: 2px;
    }

    &-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        font-size: 16px;
        text-align: center;
        color: $colorText;
    }

    table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em;
    }

    th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
        color: $colorText;
        font-size: 14px;
    }

    td {
        border: 0;
        padding: 1px;

        span, a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none;
            border: 1px solid $colorMain;
            font-size: 14px;
            font-weight: 400;
            color: $colorText;

            &:hover {
                background: $colorMain;
                color: $colorWhite;
            }
        }
    }

    .ui-state-active {
        background: $colorMain;
        color: #fff;
    }
    .ui-state-disabled {
        opacity: .2;
        cursor: default;
    }
}
// END jquery ui datepicker