// сетка
.row {
    margin: 0 -10px;
    @include mobile {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        display: block;
        float: left;
        padding: 0 10px;
        width: 100%;
        @include mobile {
            float: none;
            width: 100% !important;
            padding-left: 5px;
            padding-right: 5px;
        }

        &.w-25-mobile {
            @include mobile {
                float: left;
                width: 25% !important;

                &.float-right {
                    float: right;
                }
            }
        }

        &.w-33-mobile {
            @include mobile {
                float: left;
                width: 33.33333333% !important;

                &.float-right {
                    float: right;
                }
            }
        }
        &.w-50-mobile {
            @include mobile {
                float: left;
                width: 50% !important;

                &.float-right {
                    float: right;
                }
            }
        }

        &.w-75-mobile {
            @include mobile {
                float: left;
                width: 75% !important;

                &.float-right {
                    float: right;
                }
            }
        }

        @include only-tablet {
            &.w-25-tablet {
                width: 25%;
            }

            &.w-33-tablet {
                float: left;
                width: 33.33333333% !important;
            }

            &.w-50-tablet {
                float: left;
                width: 50% !important;
            }
        }

        &.float-right {
            float: right;
        }

        &.w-20 {
            width: 20%;
        }

        &.w-25 {
            width: 25%;
        }

        &.w-33 {
            width: 33.33333333%;
        }

        &.w-40 {
            width: 40%;
        }

        &.w-50 {
            width: 50%;
        }

        &.w-66 {
            width: 66%;
        }
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}