.clr {
    display: block;
    clear: both;
}

.hide {
    display: none !important;
}

@media (min-width: 1000px) {
    .hide-desktop {
        display: none !important;
    }
}

@media (min-width: 760px) {
    .hide-tablet {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .hide-mobile {
        display: none !important;
    }
}

.table-block {
    display: table;
    margin: 0;
    width: 100%;
    height: 100%;

    .cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.disabled {
    opacity: .4 !important;
    cursor: default;
}