@font-face {
    font-family: "migcredit";
    src: url("../fonts/migcredit.eot");
    src: url("../fonts/migcredit.eot?#iefix") format("embedded-opentype"),
        url("../fonts/migcredit.woff") format("woff"),
        url("../fonts/migcredit.ttf") format("truetype"),
        url("../fonts/migcredit.svg#migcredit") format("svg");
    font-weight: normal;
    font-style: normal;
}


[class^='icon-']:before,
[class*=' icon-']:before,
.jq-selectbox__trigger:before,
.jq-file:before,
.ui-datepicker-prev,
.ui-datepicker-next {
    font-family: 'migcredit';
    font-style: normal;
    font-weight: normal;
    display: block;
    margin: 0 auto;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-21:before {
    content: "\61";
}
.icon-24:before {
    content: "\62";
}
.icon-api:before {
    content: "\63";
}
.icon-bank:before {
    content: "\64";
}
.icon-calendar1:before {
    content: "\65";
}
.icon-calendar2:before {
    content: "\66";
}
.icon-calendar3:before {
    content: "\67";
}
.icon-card1:before {
    content: "\68";
}
.icon-card2:before {
    content: "\69";
}
.icon-case:before {
    content: "\6a";
}
.icon-checked:before {
    content: "\6b";
}
.icon-close1:before {
    content: "\6c";
}
.icon-consultation:before {
    content: "\6d";
}
.icon-courier:before {
    content: "\6e";
}
.icon-down1:before {
    content: "\6f";
}
.icon-down2:before {
    content: "\70";
}
.icon-employee:before {
    content: "\71";
}
.icon-facebook:before {
    content: "\72";
}
.icon-gerb:before {
    content: "\73";
}
.icon-girl:before {
    content: "\74";
}
.icon-information:before {
    content: "\75";
}
.icon-instagram:before {
    content: "\76";
}
.icon-left1:before {
    content: "\77";
}
.icon-mail:before {
    content: "\78";
}
.icon-minus:before {
    content: "\79";
}
.icon-mobile:before {
    content: "\7a";
}
.icon-ok:before {
    content: "\41";
}
.icon-passport:before {
    content: "\42";
}
.icon-pedestrian:before {
    content: "\43";
}
.icon-phone:before {
    content: "\44";
}
.icon-plus:before {
    content: "\45";
}
.icon-questionnaire:before {
    content: "\46";
}
.icon-result:before {
    content: "\47";
}
.icon-right1:before {
    content: "\48";
}
.icon-right2:before {
    content: "\49";
}
.icon-russia:before {
    content: "\4a";
}
.icon-safe:before {
    content: "\4b";
}
.icon-signature:before {
    content: "\4c";
}
.icon-sms:before {
    content: "\4d";
}
.icon-stamp:before {
    content: "\4e";
}
.icon-support:before {
    content: "\4f";
}
.icon-tag:before {
    content: "\50";
}
.icon-text:before {
    content: "\51";
}
.icon-time1:before {
    content: "\52";
}
.icon-up1:before {
    content: "\53";
}
.icon-user:before {
    content: "\54";
}
.icon-user1:before {
    content: "\55";
}
.icon-vk:before {
    content: "\56";
}
.icon-wallet1:before {
    content: "\57";
}
.icon-wallet2:before {
    content: "\58";
}
.icon-wallet3:before {
    content: "\59";
}
.icon-bank1:before {
    content: "\5a";
}
.icon-document:before {
    content: "\30";
}
.icon-list:before {
    content: "\31";
}
.icon-review:before {
    content: "\32";
}
.icon-telephone:before {
    content: "\33";
}
.icon-map-pin:before {
    content: "\34";
}
.icon-email:before {
    content: "\35";
}
.icon-ruble:before {
    content: "\36";
}
.icon-trophy:before {
    content: "\37";
}
.icon-money:before {
    content: "\38";
}
.icon-search:before {
    content: "\39";
}
.icon-stethoscope:before {
    content: "\21";
}
.icon-webcamera:before {
    content: "\22";
}
.icon-diagram:before {
    content: "\23";
}
.icon-lawyer:before {
    content: "\24";
}
.icon-ambulance:before {
    content: "\25";
}
.icon-clip:before {
    content: "\26";
}
.icon-hospital:before {
    content: "\27";
}
.icon-smartphone:before {
    content: "\28";
}
.icon-five:before {
    content: "\29";
}
.icon-four:before {
    content: "\2a";
}
.icon-three:before {
    content: "\2b";
}
.icon-one:before {
    content: "\2c";
}
.icon-two:before {
    content: "\2d";
}
.icon-square:before {
    content: "\5f";
}
.icon-menu-close:before {
    content: "\60";
}
.icon-menu-button:before {
    content: "\7b";
}
