@font-face {
    font-family: "migcredit";
    src: url("/fonts/migcredit.eot");
    src: url("/fonts/migcredit.eot?#iefix") format("embedded-opentype"),
        url("/fonts/migcredit.woff") format("woff"),
        url("/fonts/migcredit.ttf") format("truetype"),
        url("/fonts/migcredit.svg#migcredit") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before,
.jq-selectbox__trigger:before,
.jq-file:before,
.ui-datepicker-prev,
.ui-datepicker-next,
.ui-slider-handle {
    font-family: 'migcredit';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: block;
    margin: 0 auto;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-1000:before {
    content: "\61";
}

.icon-16000:before {
    content: "\64";
}

.icon-40000:before {
    content: "\65";
}

.icon-55000:before {
    content: "\66";
}

.icon-75000:before {
    content: "\67";
}

.icon-100000:before {
    content: "\68";
}

.icon-agent-ico-small-1:before {
    content: "\69";
}

.icon-agent-ico-small-2:before {
    content: "\6a";
}

.icon-agent-ico-small-3:before {
    content: "\6b";
}

.icon-bank-card:before {
    content: "\6c";
}

.icon-banner-star:before {
    content: "\6d";
}

.icon-calendar2:before {
    content: "\6e";
}

.icon-car-icon:before {
    content: "\6f";
}

.icon-cbrf:before {
    content: "\70";
}

.icon-clock:before {
    content: "\71";
}

.icon-document:before {
    content: "\72";
}

.icon-edit:before {
    content: "\73";
}

.icon-eye:before {
    content: "\74";
}

.icon-facebook:before {
    content: "\75";
}

.icon-form-inves-icon0:before {
    content: "\76";
}

.icon-form-inves-icon1:before {
    content: "\77";
}

.icon-form-inves-icon2:before {
    content: "\78";
}

.icon-form-inves-icon3:before {
    content: "\79";
}

.icon-get-privilege-item-1:before {
    content: "\7a";
}

.icon-header-ico-rub:before {
    content: "\41";
}

.icon-header-ico-user:before {
    content: "\42";
}

.icon-header-ico-wallet:before {
    content: "\43";
}

.icon-ico1:before {
    content: "\44";
}

.icon-ico3:before {
    content: "\45";
}

.icon-ico5:before {
    content: "\46";
}

.icon-ico6:before {
    content: "\47";
}

.icon-ico7:before {
    content: "\48";
}

.icon-ico9:before {
    content: "\49";
}

.icon-ico10:before {
    content: "\4a";
}

.icon-ico11:before {
    content: "\4b";
}

.icon-ico12:before {
    content: "\4c";
}

.icon-ico18:before {
    content: "\4d";
}

.icon-ico-1:before {
    content: "\4e";
}

.icon-ico-2:before {
    content: "\4f";
}

.icon-ico-2-1:before {
    content: "\50";
}

.icon-ico-3:before {
    content: "\51";
}

.icon-ico-4:before {
    content: "\52";
}

.icon-ico-5:before {
    content: "\53";
}

.icon-ico-6:before {
    content: "\54";
}

.icon-ico-8:before {
    content: "\55";
}

.icon-ico-9:before {
    content: "\56";
}

.icon-ico-11:before {
    content: "\57";
}

.icon-ico-12:before {
    content: "\58";
}

.icon-ico-13:before {
    content: "\59";
}

.icon-ico-14:before {
    content: "\5a";
}

.icon-ico-15:before {
    content: "\30";
}

.icon-ico-16:before {
    content: "\31";
}

.icon-ico-17:before {
    content: "\32";
}

.icon-ico-18:before {
    content: "\33";
}

.icon-ico-19:before {
    content: "\34";
}

.icon-ico-20:before {
    content: "\35";
}

.icon-ico-21:before {
    content: "\36";
}

.icon-ico-23:before {
    content: "\37";
}

.icon-ico-24:before {
    content: "\38";
}

.icon-ico-28:before {
    content: "\39";
}

.icon-ico-29:before {
    content: "\21";
}

.icon-ico-30:before {
    content: "\22";
}

.icon-ico-32:before {
    content: "\23";
}

.icon-ico-33:before {
    content: "\24";
}

.icon-ico-api:before {
    content: "\25";
}

.icon-ico-auth:before {
    content: "\26";
}

.icon-ico-broker:before {
    content: "\27";
}

.icon-ico-doc:before {
    content: "\28";
}

.icon-ico-edit:before {
    content: "\29";
}

.icon-ico-extlink:before {
    content: "\2a";
}

.icon-ico-file:before {
    content: "\2b";
}

.icon-ico-phone:before {
    content: "\2c";
}

.icon-ico-pin:before {
    content: "\2d";
}

.icon-icon-clock:before {
    content: "\2e";
}

.icon-img3:before {
    content: "\2f";
}

.icon-index-ico-01:before {
    content: "\3a";
}

.icon-index-ico-02:before {
    content: "\3b";
}

.icon-index-ico-03:before {
    content: "\3c";
}

.icon-index-ico-04:before {
    content: "\3d";
}

.icon-index-ico-05:before {
    content: "\3e";
}

.icon-index-ico-06:before {
    content: "\3f";
}

.icon-index-ico-07:before {
    content: "\40";
}

.icon-index-ico-10:before {
    content: "\5b";
}

.icon-instagram:before {
    content: "\5d";
}

.icon-lk-avatar:before {
    content: "\5e";
}

.icon-lk-car:before {
    content: "\5f";
}

.icon-lk-envelope:before {
    content: "\60";
}

.icon-lk-wallet:before {
    content: "\7b";
}

.icon-lock:before {
    content: "\7c";
}

.icon-locked:before {
    content: "\7d";
}

.icon-logolabb:before {
    content: "\7e";
}

.icon-male:before {
    content: "\5c";
}

.icon-message-arrow:before {
    content: "\e000";
}

.icon-migapp-1:before {
    content: "\e001";
}

.icon-migapp-2:before {
    content: "\e002";
}

.icon-migapp-3:before {
    content: "\e003";
}

.icon-migapp-4:before {
    content: "\e004";
}

.icon-migapp-5:before {
    content: "\e005";
}

.icon-ok:before {
    content: "\e006";
}

.jq-file:before,
.icon-paper-clip:before {
    content: "\e007";
}

.icon-partners-program-ico:before {
    content: "\e008";
}

.icon-privilege-info-item-4:before {
    content: "\e00c";
}

.icon-privilege-info-item-5:before {
    content: "\e00d";
}

.icon-product-ico-1:before {
    content: "\e00e";
}

.icon-product-ico-2:before {
    content: "\e00f";
}

.icon-product-ico-3:before {
    content: "\e010";
}

.icon-promo-ico-nav:before {
    content: "\e011";
}

.icon-services-cards-item-0:before {
    content: "\e012";
}

.icon-services-cards-item-1:before {
    content: "\e013";
}

.icon-services-cards-item-2:before {
    content: "\e014";
}

.icon-services-cards-item-3:before {
    content: "\e015";
}

.icon-services-cards-item-4:before {
    content: "\e016";
}

.icon-services-cards-item-6:before {
    content: "\e017";
}

.icon-services-cards-item-7:before {
    content: "\e018";
}

.icon-services-cards-item-8:before {
    content: "\e019";
}

.icon-services-cards-item-9:before {
    content: "\e01a";
}

.icon-services-cards-item-10:before {
    content: "\e01b";
}

.icon-services-cards-item-11:before {
    content: "\e01c";
}

.icon-services-cards-item-12:before {
    content: "\e01d";
}

.icon-services-cards-item-13:before {
    content: "\e01e";
}

.icon-services-cards-item-14:before {
    content: "\e01f";
}

.icon-services-cards-item-16:before {
    content: "\e020";
}

.icon-services-infoblock:before {
    content: "\e021";
}

.icon-services-sofnar-icon-1:before {
    content: "\e022";
}

.icon-services-sofnar-icon-2:before {
    content: "\e023";
}

.icon-services-sofnar-icon-3:before {
    content: "\e024";
}

.icon-services-sofnar-icon-4:before {
    content: "\e025";
}

.icon-services-sofnar-icon-5:before {
    content: "\e026";
}

.icon-services-sofnar-icon-6:before {
    content: "\e027";
}

.icon-services-sofnar-icon-7:before {
    content: "\e028";
}

.icon-services-sofnar-icon-8:before {
    content: "\e029";
}

.icon-services-sofnar-icon-9:before {
    content: "\e02a";
}

.icon-services-sofnar-icon-10:before {
    content: "\e02b";
}

.icon-verified:before {
    content: "\e02c";
}

.icon-virtual-card-ico2:before {
    content: "\e02d";
}

.icon-vk:before {
    content: "\e02e";
}

.icon-woman:before {
    content: "\e009";
}

.icon-cancel1:before {
    content: "\e00a";
}

.icon-close2:before {
    content: "\e00b";
}

.icon-dot-arrow:before {
    content: "\e02f";
}

.icon-down1:before {
    content: "\e030";
}

.icon-down2:before {
    content: "\e031";
}

.jq-selectbox__trigger:before,
.icon-down3:before {
    content: "\e032";
}

.icon-left1:before {
    content: "\e033";
}

.ui-datepicker-prev:before,
.icon-left2:before {
    content: "\e034";
}

.icon-left3:before {
    content: "\e035";
}

.icon-minus:before {
    content: "\e036";
}

.ui-slider .ui-slider-handle:before,
.icon-moveright:before {
    content: "\e037";
}

.icon-moveup:before {
    content: "\e038";
}

.icon-plus:before {
    content: "\e039";
}

.icon-right3:before {
    content: "\e03a";
}

.ui-datepicker-next:before,
.icon-right2:before {
    content: "\e03b";
}

.icon-right1:before {
    content: "\e03c";
}

.icon-up1:before {
    content: "\e03d";
}

.icon-up2:before {
    content: "\e03e";
}

.icon-up3:before {
    content: "\e03f";
}

.icon-lk-stopwatch:before {
    content: "\e040";
}

.icon-lk-pdf:before {
    content: "\e041";
}

.icon-lk-pass:before {
    content: "\e043";
}

.icon-lk-logout:before {
    content: "\e044";
}

.icon-lk-check:before {
    content: "\e045";
}

.icon-lk-document:before {
    content: "\e046";
}

.icon-lk-error:before {
    content: "\e047";
}

.icon-lk-hourglass:before {
    content: "\e048";
}

.icon-lk-info:before {
    content: "\e049";
}

.icon-lk-information:before {
    content: "\e04a";
}

.icon-menu-button:before {
    content: "\e04b";
}

.icon-checked:before {
    content: "\e04c";
}

.icon-warning:before {
    content: "\e04d";
}

.icon-12000:before {
    content: "\62";
}

.icon-14000:before {
    content: "\63";
}

.icon-14000-1:before {
    content: "\e04e";
}

.icon-lk-pay:before {
    content: "\e042";
}