.infographic {
    .item {
        display: block;
        margin: 20px 0;

        .icon {
            display: block;
            position: relative;
            margin: 0 auto 20px auto;
            width: 88px;
            height: 88px;
            background: $colorWhite;
            border-radius: 20px;

            i {
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -29px 0 0 -29px;
                font-size: 58px;
                color: $colorMain;
            }
        }

        .info {
            margin: 0;
        }
        .text {
            display: block;
            margin: 10px 0;
            font-size: 24px;
            line-height: 1.2em;
            font-weight: 300;
            color: $colorText;
            text-align: center;

            &.label {
                font-size: 14px;
                font-weight: 700;
                color: $colorMain;
            }
        }
    }

    &.with-arrows {
        .item {
            position: relative;

            .arrow  {
                display: block;
                position: absolute;
                left: 100%;
                top: 0;
                margin: 0 0 0 -35px;
                width: 70px;
                height: 88px;
                background: url('../img/arrow-infographic.svg') center center no-repeat;
                background-size: contain;
            }
        }
    }
}

@media (max-width: 760px) {
    .infographic {
        .item {
            margin: 10px 0;

            .icon {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
                border-radius: 15px;

                i {
                    margin-top: -20px;
                    margin-left: -20px;
                    font-size: 40px;
                }
            }

            .text {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 18px;
                line-height: 21px;

                &.label {
                    font-size: 11px;
                    line-height: 13px;
                }
            }
        }


        &.with-arrows {
            .item {
                position: relative;
                min-height: 60px;
                padding-top: 5px;
                padding-left: 80px;

                &.with-arrow {
                    padding-bottom: 40px;
                }

                .icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                }

                .text {
                    text-align: left;
                }

                .arrow {
                    left: 0;
                    top: 67.5px;
                    margin: 0;
                    width: 60px;
                    height: 29px;
                    background-image: url('../img/arrow-infographic-mobile.svg');
                }
            }
        }
    }
}