// слайдер инфографики на главной
.infographic-slider {
    margin-bottom: 50px;

    .infographic-slider-pagination{
        width: 100%;
        bottom: -50px;

        .swiper-pagination-bullet {
            background: $colorGray;

            &.swiper-pagination-bullet-active {
                background: $colorMain;
            }
        }
    }
}
// END слайдер инфографики на главной

.infographic {
    .item {
        display: block;
        margin: 20px 0;
        @include only-mobile {
            margin: 10px 0;
        }

        &.big-margin {
            @include mobile {
                margin: 30px 0;
            }
        }

        .icon {
            display: block;
            position: relative;
            margin: 0 auto 20px auto;
            width: 88px;
            height: 88px;
            background: $colorWhite;
            border-radius: 20px;
            @include only-mobile {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
                border-radius: 15px;
            }

            &-with-border{
                border: 1px solid #EFEFEF;
            }

            i {
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -29px 0 0 -29px;
                font-size: 58px;
                color: $colorMain;
                @include only-mobile {
                    margin-top: -20px;
                    margin-left: -20px;
                    font-size: 40px;
                }
            }
        }

        .info {
            margin: 0;
        }
        .text {
            display: block;
            margin: 10px 0;
            font-size: 24px;
            line-height: 1.2em;
            font-weight: 300;
            color: $colorText;
            text-align: center;
            @include only-mobile {
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 18px;
                line-height: 21px;
            }

            &.label {
                font-size: 14px;
                color: $colorGray;
                @include only-mobile {
                    font-size: 11px;
                    line-height: 13px;
                }

                &.default {
                    color: $colorGray;
                    font-weight: inherit;
                    line-height: 1.4em;

                }
            }
        }
    }

    &.with-image{

    }

    &.with-arrows {
        .item {
            position: relative;
            @include only-mobile {
                position: relative;
                min-height: 60px;
                padding-top: 5px;
                padding-left: 80px;
            }

            &.with-arrow {
                @include only-mobile {
                    padding-bottom: 40px;
                }
            }

            .icon {
                @include only-mobile {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                }
            }

            .text {
                @include only-mobile {
                    text-align: left;
                }
            }

            .arrow  {
                display: block;
                position: absolute;
                left: 100%;
                top: 0;
                margin: 0 0 0 -35px;
                width: 70px;
                height: 88px;
                background: url('../img/arrow-infographic.svg') center center no-repeat;
                background-size: contain;
                @include only-mobile {
                    left: 0;
                    top: 67.5px;
                    margin: 0;
                    width: 60px;
                    height: 29px;
                    background-image: url('../img/arrow-infographic-mobile.svg');
                }
            }
        }
    }
}