$mobile:  1000px;
$tablet:  760px;
$desktop:  1000px;



@mixin desktop  { @media (min-width: #{$desktop})  {@content;} };
@mixin tablet  { @media (min-width: #{$tablet})  {@content;} };
@mixin only-tablet  { @media (min-width: #{$tablet}) and (max-width: #{$desktop})  {@content;} };
@mixin mobile  { @media (max-width: #{$mobile})  {@content;} };
@mixin only-mobile  { @media (max-width: #{$tablet})  {@content;} };