$mobile:  1000px;
$tablet:  760px;
$desktop:  1000px;
$sm-desktop:  1280px;
$xl-desktop:  1600px;
$xs-mobile: 374px;



@mixin desktop  { @media (min-width: #{$desktop})  {@content;} };
@mixin sm-desktop  { @media (min-width: #{$sm-desktop}) and (max-width: #{$xl-desktop})  {@content;} };
@mixin tablet  { @media (min-width: #{$tablet})  {@content;} };
@mixin only-tablet  { @media (min-width: #{$tablet}) and (max-width: #{$desktop})  {@content;} };
@mixin mobile  { @media (max-width: #{$mobile})  {@content;} };
@mixin only-mobile  { @media (max-width: #{$tablet})  {@content;} };
@mixin xs-mobile  { @media (max-width: #{$xs-mobile})  {@content;} };