html {
    margin: 0;
    padding: 0;
    font-family: $fontBase;
    font-size: 10px;
    font-weight: 300;
    color: $colorText;
    height: 100%;
    min-height: 640px;
    background: $colorWhite;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    padding: 0;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: $colorWhite;
}

* {
    outline: none;
    box-sizing: border-box;
}