.press {
    .item {
        background-color: $colorWhite !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        padding-bottom: 35%;
        margin: 10px 0;
        cursor: pointer;

        @include mobile {
            margin: 5px 0;
            background-size: 60% !important;
        }
    }
    .press-item {
        border-top: 1px solid $colorBorder;
        padding: 20px 0;

        .item-icon {
            height: 86px;

            background-color: $colorWhite;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        }

        .item-info {
            .date {
                font-size: 14px;
                line-height: 180%;
                color: $colorMain;
            }

            .desc {
                margin: 10px 0;
                font-size: 18px;
                line-height: 1.2em;
                font-weight: 300;
            }

            .read {
                font-size: 14px;
                color: $colorMain2;

                outline: none;
                text-decoration: none;

                cursor: pointer;
                &:hover {
                    color: $colorMain2Hover;
                }
            }
        }
    }
}
