//карточка продуктов на главной
.product-card {
    display: block;
    margin: 20px 0;
    padding: 0;
    background: $colorWhite;
    text-decoration: none;
    outline: none;
    @include mobile {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .head {
        display: block;
        position: relative;
        margin: 0;
        padding: 20px;
        height: 215px;
        overflow: hidden;
        @include mobile {
            height: 160px;
            padding: 15px;
        }

        .text {
            opacity: 0.5;
            font-weight: 700;
            @include mobile {
                font-weight: 400;
            }


            &.caption {
                line-height: 18px;
                opacity: 1;
                @include mobile {
                    line-height: 17px;
                }
            }

            &.with-icon {
                padding-left: 30px;
                @include mobile {
                    padding-left: 22px;
                }
            }

            .icon {
                color: $colorText;
                font-size: 18px;
                @include mobile {
                    font-size: 15px;
                }
            }
        }
    }

    .info {
        display: block;
        margin: 0;
        padding: 20px;
        height: 215px;
        @include mobile {
            height: 160px;
            padding: 15px;
        }
    }

    .text {
        display: block;
        position: relative;
        z-index: 3;
        margin: 20px 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.3em;
        font-weight: 400;
        color: $colorText;
        @include mobile {
            margin: 10px 0;
            font-size: 12px;
            line-height: 1.3em;
        }

        &:first-child {
            margin-top: 0;
        }

        &.caption {
            font-size: 18px;
            line-height: 1.2em;
            font-weight: 700;
            @include mobile {
                font-size: 17px;
                line-height: 20px;
                font-weight: 400;
            }
        }

        &.sum {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            @include mobile {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 20px;
            }
        }

        &.with-icon {
            padding-left: 38px;
            @include mobile {
                padding-left: 26px;
            }
        }

        .icon {
            display: block;
            position: absolute;
            left: 0; top: 0;
            font-size: 16px;
            color: $colorMain;
            @include mobile {
                font-size: 12px;
            }
        }

        .label {
            display: block;
            position: absolute;
            right: 0; top: 50%;
            margin: -9px 0 0 0;
            padding: 0 8px;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            color: $colorWhite;
            background: $colorMain;
            border-radius: 4px;
            @include mobile {
                font-size: 11px;
            }
        }
    }

    &.inner {
        @include desktop {
            margin: 0;
        }

        .head {
            padding: 30px 30px 80px;
            height: 330px;
            border-radius: 5px;
            @include mobile {
                padding: 15px 15px 80px;
                height: 280px;
            }

            .fix-height {
                position: relative;
                display: block;
                max-height: 200px;
                overflow: hidden;
            }

            .caption {
                font-size: 24px;
                margin-bottom: 30px;
            }

            .text {
                opacity: 1;

                .icon {
                    opacity: .5;
                }
            }

            .button {
                position: absolute;
                left: 30px;
                bottom: 30px;
                margin: 0;
                z-index: 3;
                background: $colorWhite;
                max-width: 150px;
                color: $colorText;
                overflow: visible;
                @include mobile {
                    left: 15px;
                    bottom: 15px;
                }
            }
        }
    }

    &.big-head {
        margin: 0;
        position: relative;

        .product-bg {
            &:before {
                background-position: 75% bottom;
            }

            &.bg-pos-left:before{
                background-position: left bottom;
            }
        }

        .head {
            //height: auto;
            min-height: 500px;
            padding: 20px 0 80px;
            z-index: 2;
            @include sm-desktop{
                min-height: 400px;
            }

            .text {
                font-size: 14px;
                line-height: 179.19%;
                opacity: 1;
                font-weight: normal;

                &.with-icon {
                    font-weight: 500;

                    .icon {
                        opacity: .5;
                        font-size: 14px;
                        top: 50%;
                        margin-top: -7px;
                    }
                }
            }

            .caption {
                font-size: 34px;
                font-weight: 700;
                @include mobile {
                    margin-top: 20px;
                    font-size: 22px;
                }
            }
        }

        .product-bg {
            &:before {
                @include only-mobile {
                    top: auto;
                    height: 300px;
                }
            }
        }
    }
}

.products-slider {
    @include desktop {
        margin: 0;
        padding: 0;
    }

    .swiper-slider {
        @include desktop {
            overflow: visible;
        }

        @include mobile {
            margin-left: -10px;
            margin-right: -10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .swiper-slide {
        @include desktop {
            opacity: 0;
            transform: scale(0.75);
            transition: opacity .2s ease, transform .4s ease;
        }

        @include mobile {
            width: 75%;
            max-width: 320px;
        }

        &-visible {
            @include desktop {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
//END карточка продуктов на главной

// фоны продуктов
.product-bg {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0; right: 0;
    top: 0; bottom: 0;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.bg-1 {
        background: linear-gradient(54.96deg, #D0E2C1 0%, #EFFFE9 100%);
        &:before {
            background-image: url('../img/products/1.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/1-small.png');
            }
        }
    }
    &.bg-2 {
        background: linear-gradient(54.75deg, #FFD988 0%, #FFCB67 100%);
        &:before {
            background-image: url('../img/products/2.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/2-small.png');
            }
        }
    }
    &.bg-3 {
        background: linear-gradient(54.86deg, #EAEFF8 0%, #AEBCC2 100%);
        &:before {
            background-image: url('../img/products/3.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/3-small.png');
            }
        }
    }
    &.bg-4 {
        background: linear-gradient(54.83deg, #CEE0E9 0%, #F5F5F5 100%);
        &:before {
            background-image: url('../img/products/4.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/4-small.png');
            }
        }
    }
    &.bg-5 {
        background: linear-gradient(54.86deg, #DADDE6 0%, #A3A4A9 100%);
        &:before {
            background-image: url('../img/products/5.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/5-small.png');
            }
        }
    }
    &.bg-6 {
        background: linear-gradient(54.86deg, #B9D1D5 0%, #FBF9FF 100%);
        &:before {
            background-image: url('../img/products/6.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/6-small.png');
            }
        }
    }
    &.bg-7 {
        background: linear-gradient(54.86deg, #EBE2D9 0%, #E6DDD6 100%);
        &:before {
            background-image: url('../img/products/7.png');
        }

        &.small {
            &:before {
                background-image: url('../img/products/7-small.png');
            }
        }
    }
    &.bg-8 {
             background: #EFEFEF;
             &:before {
                 background-image: url('../img/products/8.png');
             }

             &.small {
                 &:before {
                     background-image: url('../img/products/8-small.png');
                 }
             }
         }

    &.bg-9 {
        background: $colorWhite;
        &:before {
            background-image: url('../img/products/11.png');
            width: 45%;

            @include mobile{
                width: auto;
            }
        }
    }

    &.bg-10 {
        background-image: url('../img/products/avtokreditovanie/bg11.png');
        &:before {
            background-image: url('../img/products/avtokreditovanie/driver.png');
        }

    }
    &.bg-11 {
        background-image: url('../img/agents/bg11.png');
        background-position: center center;
        background-repeat: no-repeat;
    }

}
// END фоны продуктов

//Блок текст центрируется картинки - слева, справа
    .info-wrapper{
        height: 560px;

        &.small{
            height: 480px;
            @include mobile{
                height: auto;
                margin: 40px auto;
                text-align: center;
            }
        }
        @include mobile{
            height: auto;
        }
    }

    .image-wrapper{
        height: 500px;
        margin: 25px auto;
        &.small{
            height: 480px;
            margin: 0;

            @include mobile{
                height: 300px;
                margin: 25px auto;
            }

            .image{
                background-size: 80%;
                @include mobile{
                    background-size: contain;
                }
            }
        }

        &.bottom-image{
            .image{
                background-size: cover;
                background-position: center bottom;

                @include mobile{
                    background-size: contain;
                    background-position: center center;
                }
            }
        }

        @include mobile{
            height: 300px;
        }
        .image {
            background-size: contain;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

.logos{
    .logo-item{
        display: inline-block;
        height: 30px;
        margin: 10px 15px 0 0;

        &:last-child{
            margin-right: 0;
        }
        img{
            max-height: 100%;
        }
    }

    &.logos-vertical{
        text-align: center;
        font-size: 0;
        .logo-item{
            height: auto;
            display: block;
            margin: 15px auto;
        }
    }
}
//END Блок текст центрируется картинки - слева, справа