// swiper style
.swiper {
    &-pagination {
        &-bullet {
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;
            width: 8px; height: 8px;
            background: $colorWhite;
            border-radius: 50%;
            opacity: .2;
            transition: all .2s ease;

            &-active {
                opacity: 1;
                background: $colorMain;
            }
        }
    }

    &-arrow {
        display: block;
        position: absolute;
        z-index: 10;
        top: 0; bottom: 0;
        width: 60px;
        cursor: pointer;

        &-prev {
            left: -60px;
        }
        &-next {
            right: -60px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            margin: -10px 0 0 -10px;
            width: 20px; height: 20px;
            font-size: 20px;
            color: $colorGray;
            transition: color .2s ease;
        }

        &:hover {
            .icon {
                color: $colorMain;
            }
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    &-slider {
        display: block;
        position: relative;
        overflow: hidden;

        &-wrapper {
            display: block;
            position: relative;
        }
    }
}

@media (max-width: 1000px) {
    .swiper {
        &-arrow {
            display: none;
        }
    }
}
// END swiper-style


// слайдер на главной
.main-slider {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;
    overflow: hidden;

    .slider {
        z-index: 3;
    }

    .slide {
        position: relative;
        z-index: 3;
        margin: 0;
        height: 660px;
        background: $colorBg;
        text-decoration: none;
        outline: none;

        .img {
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0; right: 0;
                bottom: 0;
                height: 50%;
                background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 100%);
            }
        }

        .text {
            display: block;
            position: absolute;
            left: 50%; bottom: 60px;
            margin: 0 0 0 -490px;
            width: 600px;
        }

        p {
            margin: 4px 0;
            font-size: 34px;
            line-height: 40px;
            color: $colorWhite;
            font-weight: 500;
            text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.55);

            &.big {
                font-size: 56px;
                line-height: 66px;
                font-weight: 900;
            }

            &.small {
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
            }
        }
    }

    .swiper {
        &-pagination {
            display: block;
            position: absolute;
            z-index: 10;
            left: 50%; bottom: 22px;
            margin: 0 0 0 -490px;
            width: 980px;
            text-align: left;
        }

        &-arrow {
            z-index: 10;
            width: 100px;

            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }

            .icon {
                color: $colorWhite;
            }
        }
    }

    &-info {
        display: block;
        position: absolute;
        z-index: 10;
        left: 50%; top: 50%;
        margin: -261px 0 0 185px;
        padding: 70px 0 0 0;
        width: 315px; height: 522px;

        .button-block {
            display: block;
            position: absolute;
            left: 0; right: 0;
            top: 0;
        }


    }
}

@media (max-width: 1000px) {
    .main-slider {

        .slide {
            height: auto;
            overflow: hidden;

            .img {
                background-position: 0 center;
                &:before {
                    height: 75%;
                }
            }

            &:before {
                content: "";
                display: block;
                float: left;
                padding-top: 56%;
            }

            .text {
                left: 0;
                bottom: 13px;
                margin-left: 0;
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                max-width: 400px;
            }

            p {
                font-size: 18px;
                line-height: 21px;

                &.big {
                    font-size: 30px;
                    line-height: 35px;
                }

                &.small {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        .swiper {
            &-pagination {
                position: relative;
                left: auto; bottom: auto;
                margin-left: 0;
                margin-top: 16px;
                width: 100%;
                text-align: center;

                &-bullet {
                    background: #000;
                    opacity: .2;

                    &-active {
                        background: $colorMain;
                        opacity: 1;
                    }
                }
            }
        }

        &-info {
            position: relative;
            z-index: 10;
            left: auto; top: auto;
            margin: 0 15px;
            padding-top: 0;
            width: auto; height: auto;

            .button-block {
                display: block;
                position: relative;
                left: auto; right: auto;
                top: auto;
                margin-top: 20px;
            }
        }
    }
}
// END слайдер на главной


