// Типографика
.color-main {
    color: $colorMain !important;
}

.color-gray {
    color: $colorGray !important;
}

.color-error {
    color: $colorError !important;
}

.font-weight-light {
    font-weight: 300 !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}

.text-content {
    margin: 80px 0 20px 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;

    &.without-menu {
        margin-left: 0;
    }

    a {
        color: $colorLink;
    }

    p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 1.2em;
        color: $colorText;
        font-weight: 300;

        &.caption {
            font-size: 26px;
            line-height: 1.2em;
            font-weight: 400;
        }

        &.big-text,
        .big-text {
            font-size: 26px;
            line-height: 1.2em;
        }

        &.normal-text,
        .normal-text {
            font-size: 16px;
            line-height: 1.2em;
        }

        &.small-text,
        .small-text {
            font-size: 12px;
            line-height: 1.2em;
        }

        .icon {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
        }
    }

    ul, ol {
        display: block;
        margin: 20px 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            margin: 20px 0;
            padding: 0 0 0 30px;
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 300;
            color: $colorText;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0; top: 8px;
                width: 16px; height: 2px;
                background: $colorMain;
            }
        }
    }

    .table {
        display: block;
        margin: 20px 0;
        padding: 0;
        background: none;

        &:last-child {
            margin-bottom: 0;
        }

        table {
            margin: 0;
            padding: 0;
            width: 100%;
            border: none;
            border-collapse: collapse;
            border-collapse: collapse;
            border-spacing: 0;

            td,
            th {
                margin: 0;
                padding: 10px 15px;
                vertical-align: top;
                text-align: left;
                border: none;
                border-top: 1px solid $colorBorder;
                border-spacing: 0;

                &:first-child {
                    padding-left: 30px;
                }

                &:last-child {
                    padding-right: 30px;
                }

                &.for-image {
                    max-width: 100px; 
                }

                &.for-icon {
                    // padding-left: 0;
                    padding-right: 0;
                    width: 30px;
                }

                p {
                    margin: 10px 0;
                    font-size: 16px;
                    line-height: 1.2em;

                    .icon {
                        font-size: 20px;
                    }

                    &.big-text {
                        font-size: 26px;
                        line-height: 1.2em;
                        font-weight: 400;
                    }
                }

                img {
                    max-width: 100%;
                    max-height: 50px;
                }
            }

            tr {
                &:first-child {
                    td, th {
                        border-top: none;
                    }
                }
            }

            &.vertical-align-middle {
                td, th {
                    vertical-align: middle;
                }
            }
        }
    }

    .img {
        display: block;
        margin: 20px 0;

        img {
            display: block;
            margin: 0;
            max-width: 100%;
        }
    }
}

.height-small {
    .text-content {
        margin-top: 30px;
    }
}


// переключатели
.toggle-block {
    display: block;
    margin: 0;
    padding: 0;

    .toggle-caption {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 60px 0 0;

        .arrow {
            display: block;
            position: absolute;
            z-index: 1;
            right: 0;
            top: 50%;
            margin: -6px 0 0 0;
            font-size: 12px;
            color: $colorGray;
        }
    }

    .toggle-button {
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .toggle-content {
        display: none;
        margin: 0;
        padding: 0;
    }

    &.open {
        .arrow {
            transform: rotate(-180deg);
        }

        .toggle-content {
            display: block;
        }
    }
}

@media (max-width: 1000px) {
    .toggle-block {
        &.mobile-no-toggle {
            .toggle-caption {
                padding-right: 0;
            }
            .p-r-60 {
                padding-right: 10px !important;
            }
            .toggle-button {
                cursor: default;
            }
            .arrow {
                display: none;
            }
            .toggle-content {
                display: block;
            }
        }
    }
}
