// Типографика
.color-main {
    color: $colorMain !important;
}

.color-gray {
    color: $colorGray !important;
}

.color-error {
    color: $colorError !important;
}

.color-white {
    color: $colorWhite !important;
}

.section {
    margin: 0;
    padding: 50px 0;
    background-color: $colorWhite;
    @include mobile {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &.gray {
        background-color: $colorBg;
    }

    h1, .h1 {
        margin: 50px 0;
        font-size: 34px;
        line-height: 1.5em;
        font-weight: 300;
        text-align: center;
        @include mobile {
            margin: 30px 0;
            font-size: 26px;
            line-height: 30px;
        }

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    h2, .h2 {
        margin: 30px 0;
        font-size: 24px;
        line-height: 1.2em;
        font-weight: 300;
        @include mobile {
            font-size: 22px;
            line-height: 26px;
        }

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    h3, .h3 {
        margin: 20px 0;
        font-size: 18px;
        line-height: 1.2em;
        font-weight: 300;
        @include mobile {
            font-size: 18px;
            line-height: 22px;
        }

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: $colorLink;
        @include mobile {
            &:hover {
                text-decoration: none;
            }
        }
    }

    b, strong {
        font-weight: 700;
    }

    p {
        margin: 20px 0;
        font-size: 16px;
        line-height: 1.5em;
        color: $colorText;
        font-weight: 400;

        &.medium-text,
        .medium-text {
            font-size: 14px;
            line-height: 1.5em;
        }

        &.small-text,
        .small-text {
            font-size: 12px;
            line-height: 1.5em;
        }

        .icon {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            margin-left: 10px;

            &:before {
                line-height: 1.5em;
            }
        }

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul, ol {
        display: block;
        margin: 20px 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            margin: 20px 0;
            padding: 0 0 0 46px;
            font-size: 16px;
            line-height: 1.3em;
            font-weight: 300;
            color: $colorText;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0; top: 8px;
                width: 20px; height: 2px;
                background: $colorMain;
            }
        }

        &.medium-text {
            li {
                font-size: 14px;
                line-height: 1.3em;
            }
        }
        &.small-text {
            li {
                font-size: 12px;
                line-height: 1.3em;
            }
        }
    }

    .table {
        display: block;
        margin: 20px 0;
        padding: 0;
        background: none;

        &:last-child {
            margin-bottom: 0;
        }

        table {
            margin: 0;
            padding: 0;
            width: 100%;
            border: none;
            border-collapse: collapse;
            border-collapse: collapse;
            border-spacing: 0;

            td,
            th {
                margin: 0;
                padding: 10px 15px;
                vertical-align: top;
                text-align: left;
                border: none;
                border-top: 1px solid $colorBorder;
                border-spacing: 0;

                &:first-child {
                    padding-left: 30px;
                }

                &:last-child {
                    padding-right: 30px;
                }

                &.for-image {
                    max-width: 100px;
                }

                &.for-icon {
                    // padding-left: 0;
                    padding-right: 0;
                    width: 30px;
                }

                p {
                    margin: 10px 0;
                    font-size: 16px;
                    line-height: 1.2em;

                    .icon {
                        font-size: 20px;
                    }

                    &.big-text {
                        font-size: 26px;
                        line-height: 1.2em;
                        font-weight: 400;
                    }
                }

                img {
                    max-width: 100%;
                    max-height: 50px;
                }
            }

            tr {
                &:first-child {
                    td, th {
                        border-top: none;
                    }
                }
            }

            &.vertical-align-middle {
                td, th {
                    vertical-align: middle;
                }
            }
        }
    }

    .img {
        display: block;
        margin: 20px 0;

        img {
            display: block;
            margin: 0;
            max-width: 100%;
        }
    }
}

// блок с тенью
.shadow-block {
    display: block;
    position: relative;
    transition: transform .2s ease;
    @include desktop {
        &:hover {
            transform: translateY(-3px);

            &:after {
                box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
            }
        }
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
        z-index: -1;
        transition: all .2s ease;
        @include mobile {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
        }
    }
}
// END блок с тенью

// переключатели
.toggle-block {
    display: block;
    margin: 0;
    padding: 0;

    .toggle-caption {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 60px 0 0;

        .arrow {
            display: block;
            position: absolute;
            z-index: 1;
            right: 0;
            top: 50%;
            margin: -6px 0 0 0;
            font-size: 12px;
            color: $colorGray;
        }
    }

    .toggle-button {
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    .toggle-content {
        display: none;
        margin: 0;
        padding: 0;
    }

    &.open {
        .arrow {
            transform: rotate(-180deg);
        }

        .toggle-content {
            display: block;
        }
    }

    &.mobile-no-toggle {
        @include mobile {
            .toggle-caption {
                padding-right: 0;
            }
            .p-r-60 {
                padding-right: 10px !important;
            }
            .toggle-button {
                cursor: default;
            }
            .arrow {
                display: none;
            }
            .toggle-content {
                display: block;
            }
        }
    }
}