// переменные
$fontBase: 'Roboto', sans-serif;
$fontAccent: 'Roboto', sans-serif;
$colorMain: #7dc041;
$colorMainHover: #82C943;
$colorMain2: #005498;
$colorMain2Hover : #0067BA;
$colorMain3: #ffcd2b;
$colorMain3Hover: #FFD54F;
$colorBg: #efefef;
$colorBgHover: #e4e4e4;
$colorText: #333333;
$colorGray: #7e7e7e;
$colorGrayHover: #e5e5e5;
$colorBorder: #efefef;
$colorError: #e94551;
$colorWhite: #ffffff;
$colorLink: #7dc041;
$colorGrayBorderButton: #C2C2C2;